@mixin theme-dark {
	--theme-background:          #2E2E2E;
	--theme-text:                #CCCCCC;
	--theme-header:              #353535;
	--theme-header-text:         #AAAAAA;
	--theme-header-icon:         var(--theme-header-text);
	--theme-header-hover:        #2A2A2A;
	--theme-header-text-hover:   #DDDDDD;
	--theme-header-icon-hover:   var(--color-d-blu-5);
	--theme-footer:              var(--theme-border);
	--theme-footer-text:         var(--theme-text);
	--theme-footer-hover:        var(--color-d-blu-5);
	--theme-footer-text-hover:   var(--theme-border);
	--theme-link:                var(--color-d-blu-5);
	--theme-border:              #151515;
	--theme-border-selected:     #222222;
	--theme-guideline:           #808080;
	--theme-shadow:              #222222;
	--theme-object:              #282828;
	--theme-object-border:       var(--theme-border);
	--theme-object-header:       #1C1C1C;
	--theme-object-alt:          var(--theme-background);
	--theme-scroll-thumb:        var(--theme-header-text);
	--theme-scroll-track:        var(--theme-header);
	--theme-status:              var(--theme-object);
	--theme-status-high:         var(--color-d-red-4);
	--theme-status-medium:       var(--color-d-ylw-4);
	--theme-status-low:          var(--color-d-blu-4);
	--theme-history-add:         var(--color-d-grn-3);
	--theme-history-add-text:    var(--color-d-grn-5);
	--theme-history-change:      var(--color-d-ylw-3);
	--theme-history-change-text: var(--color-d-ylw-5);
	--theme-history-remove:      var(--color-d-red-3);
	--theme-history-remove-text: var(--color-d-red-5);
	--theme-highlight:           var(--color-d-ylw-4);
	--theme-highlight-text:      #EEEEEE;
}