@mixin theme-dark {
	--theme-background:          #2E2E2E;
	--theme-text:                #CCCCCC;
	--theme-border:              #1F1F1F;
	--theme-border-selected:     #222222;
	--theme-guideline:           #808080;
	--theme-shadow:              #222222;
	--theme-header:              #353535;
	--theme-header-text:         #AAAAAA;
	--theme-header-icon:         var(--theme-header-text);
	--theme-header-hover:        #2A2A2A;
	--theme-header-text-hover:   #DDDDDD;
	--theme-header-icon-hover:   var(--color-d-blu);
	--theme-footer:              var(--theme-border);
	--theme-footer-text:         var(--theme-text);
	--theme-footer-hover:        var(--color-d-blu);
	--theme-footer-text-hover:   var(--theme-border);
	--theme-link:                var(--color-d-blu);
	--theme-object:              #282828;
	--theme-object-border:       var(--theme-border);
	--theme-object-header:       var(--theme-object-border);
	--theme-object-alt:          var(--theme-background);
	--theme-scroll-thumb:        var(--theme-header-text);
	--theme-scroll-track:        var(--theme-header);
	--theme-status:              var(--theme-object);
	--theme-status-high:         var(--color-d-red-d);
	--theme-status-medium:       var(--color-d-org-d);
	--theme-status-low:          var(--color-d-blu-d);
	--theme-history-add:         var(--color-d-grn-dd);
	--theme-history-add-text:    var(--color-d-grn-l);
	--theme-history-change:      var(--color-d-ylw-dd);
	--theme-history-change-text: var(--color-d-ylw-l);
	--theme-history-remove:      var(--color-d-red-dd);
	--theme-history-remove-text: var(--color-d-red-l);
	--theme-highlight:           var(--color-d-ylw-dd);
	--theme-highlight-text:      var(--theme-text);
}