@mixin theme-light {
	--theme-background:          #FFFFFF;
	--theme-text:                #000000;
	--theme-header:              #F2F2F2;
	--theme-header-text:         #6E6E6E;
	--theme-header-icon:         #868686;
	--theme-header-hover:        var(--color-l-blu-ll);
	--theme-header-text-hover:   #BABABA;
	--theme-header-icon-hover:   var(--color-l-blu);
	--theme-footer:              var(--color-l-blu);
	--theme-footer-text:         var(--theme-background);
	--theme-footer-hover:        var(--color-l-blu-d);
	--theme-footer-text-hover:   var(--theme-background);
	--theme-link:                var(--color-l-blu);
	--theme-border:              #B6B6B6;
	--theme-border-selected:     #B6B6B6;
	--theme-guideline:           #808080;
	--theme-shadow:              #A0A0A0;
	--theme-object:              #F5F5F5;
	--theme-object-border:       var(--theme-border);
	--theme-object-header:       var(--theme-object-border);
	--theme-object-alt:          var(--theme-background);
	--theme-scroll-thumb:        var(--theme-header-text);
	--theme-scroll-track:        var(--theme-header);
	--theme-status:              var(--theme-object);
	--theme-status-high:         var(--color-l-red-l);
	--theme-status-medium:       var(--color-l-org-l);
	--theme-status-low:          var(--color-l-blu-l);
	--theme-history-add:         var(--color-l-grn-ll);
	--theme-history-add-text:    var(--color-l-grn-d);
	--theme-history-change:      var(--color-l-ylw-ll);
	--theme-history-change-text: var(--color-l-ylw-d);
	--theme-history-remove:      var(--color-l-red-ll);
	--theme-history-remove-text: var(--color-l-red-d);
	--theme-highlight:           var(--color-l-ylw-ll);
	--theme-highlight-text:      var(--theme-text);
}