{{- if and (eq .Kind "page") (eq .Type "class" "enum" "updates") }}
	{{- partial "component/focuser.html" (dict "focus" "nav" "icon" "nav") }}
{{- else if and (eq .Kind "section") (eq .Type "updates") }}
	{{- partial "component/focuser.html" (dict "focus" "nav" "icon" "nav") }}
{{- else }}
	{{- partial "component/focuser.html" (dict "focus" "root" "icon" "nav") }}
{{- end }}
{{- partial "component/logo.html" }}
<h1 class="runner-button">{{partial "component/title.html" .}}</h1>
<nav class="runner-item">
	{{- range site.Sections }}
		{{- if or (not site.Params.IncludeSections) (in site.Params.IncludeSections .Type) }}
			<a class="runner-hover" href="{{.RelPermalink}}">{{.Title | pluralize | title }}</a>
		{{- end }}
	{{- end }}
</nav>
<aside id="search" class="runner-item">
	<form id="search-form" class="runner-item js">
		<label class="runner-button">
			<input id="search-input" type="search" placeholder="Press S to search...">
		</label>
	</form>
	<noscript class="runner-item">
		<section id="no-search" class="runner-item">Searching requires Javascript.</section>
	</noscript>
</aside>
{{- partial "component/focuser.html" (dict "focus" "search" "icon" "search") }}
{{- partial "component/focuser.html" (dict "focus" "none" "icon" "close") }}
{{- partial "component/focuser.html" (dict "focus" "settings" "icon" "settings" "class" "js") }}
