<a class="runner-icon logo" href="{{site.Home.RelPermalink}}">
	<object data="{{(resources.Get `favicons/favicon.svg`).RelPermalink}}" type="image/svg+xml">
		<img src="{{(resources.Get `favicons/favicon-48x48.png`).RelPermalink}}" />
	</object>
</a>
<h1 class="runner-item"><a href="{{site.Home.RelPermalink}}">{{site.Title}}</a></h1>
<nav class="runner-item block">
	<ul class="runner-item">
		{{- range site.Sections }}
			<li class="runner-item"><a href="{{.RelPermalink}}">{{.Title}}</a></li>
		{{- end }}
	</ul>
</nav>
<aside id="search" class="runner-item">
	<form id="search-form" class="runner-item js">
		<label class="runner-item">
			<input id="search-input" type="search" placeholder="Press S to search...">
		</label>
	</form>
	<noscript class="runner-item">
		<section id="no-search" class="runner-item">Searching requires Javascript.</section>
	</noscript>
</aside>
<div id="settings-container" class="runner-item js">
	<span class="runner-icon button">
		<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 14 14" height="14" width="14">
			<path d="M 6,0 5,2 3,1 1,3 2,5 0,6 v 2 l 2,1 -1,2 2,2 2,-1 1,2 h 2 l 1,-2 2,1 2,-2 -1,-2 2,-1 V 6 L 12,5 13,3 11,1 9,2 8,0 Z M 7,4 9,5 10,7 9,9 7,10 5,9 4,7 5,5 Z"></path>
		</svg>
	</span>
</div>
