{{- if and (eq .Kind "page") (eq .Type "class" "enum" "type" "updates") }}
	{{- partial "component/focuser/nav.html"}}
{{- else if and (eq .Kind "section") (eq .Type "updates") }}
	{{- partial "component/focuser/nav.html"}}
{{- else }}
	{{- partial "component/focuser/nav-root.html"}}
{{- end }}
{{- partial "component/logo.html" }}
<h1 class="runner-button">{{partial "component/title.html" .}}</h1>
<nav class="runner-item">
	{{- range site.Sections }}
		<a class="runner-hover" href="{{.RelPermalink}}">{{.Title}}</a>
	{{- end }}
</nav>
<aside id="search" class="runner-item">
	<form id="search-form" class="runner-item js">
		<label class="runner-button">
			<input id="search-input" type="search" placeholder="Press S to search...">
		</label>
	</form>
	<noscript class="runner-item">
		<section id="no-search" class="runner-item">Searching requires Javascript.</section>
	</noscript>
</aside>
<span id="settings-button" class="js runner-icon">{{partial "icon/settings.svg" .}}</span>
