{{- /* Renders an icon for the given entity.

type: string // The type of entity (hub|class|member|enum|enumitem|type)
primary: string // The primary identifier.
secondary: string // The secondary identifier.

*/}}
{{- $type := .type | lower }}
{{- $resLight := false }}
{{- $resDark := false }}
{{- $kind := false }}
{{- $private := false }}
{{- if eq $type "hub" }}
	{{- $resLight = resources.Get "images/hub.svg"}}
{{- else }}
	{{- if eq $type "class" }}
		{{- if not $resLight}}{{$resLight = partial "func/class-icon.html" (dict "path" "icons/light/%s.png" "class" .primary)}}{{end}}
		{{- if not $resLight}}{{$resLight = resources.Get "icons/light/Placeholder.png"}}{{end}}
		{{- if not $resDark}}{{$resDark = partial "func/class-icon.html" (dict "path" "icons/dark/%s.png" "class" .primary)}}{{end}}
		{{- if not $resDark}}{{$resDark = resources.Get "icons/dark/Placeholder.png"}}{{end}}
	{{- else if eq $type "member" }}
		{{- $kind = index site.Data.Dump.Classes .primary "Members" .secondary "MemberType" }}
		{{- $private = strings.Contains (partial "status-class.html" .) "sec-" }}
		{{- if eq $kind "Property" }}
			{{- $resLight = resources.Get "icons/light/ACProperty.png"}}
			{{- $resDark = resources.Get "icons/dark/ACProperty.png"}}
		{{- else if eq $kind "Function" }}
			{{- $resLight = resources.Get "icons/light/ACFunction.png"}}
			{{- $resDark = resources.Get "icons/dark/ACFunction.png"}}
		{{- else if eq $kind "Event" }}
			{{- /* Event icon is purple for some reason. Shift it to yellow. */}}
			{{- $resLight = (resources.Get "icons/light/ACEvent.png").Filter (images.Hue 130)}}
			{{- $resDark = (resources.Get "icons/dark/ACEvent.png").Filter (images.Hue 115)}}
		{{- else if eq $kind "Callback" }}
			{{- $resLight = resources.Get "icons/light/ACFunction.png"}}
			{{- $resDark = resources.Get "icons/dark/ACFunction.png"}}
		{{- end }}
	{{- else if eq $type "enum" }}
		{{- $resLight = (resources.Get "icons/light/Enum.png").Filter (images.Colorize 35 100 100) (images.Brightness 10)}}
		{{- $resDark = (resources.Get "icons/light/Enum.png").Filter (images.Colorize 35 100 100) (images.Brightness 20)}}
	{{- else if eq $type "enumitem" }}
		{{- $resLight = (resources.Get "icons/light/EnumMember.png").Filter (images.Colorize 35 100 100) (images.Brightness 10)}}
		{{- $resDark = (resources.Get "icons/light/EnumMember.png").Filter (images.Colorize 35 100 100) (images.Brightness 20)}}
	{{- else if eq $type "type" }}
		{{- $kind = index site.Data.Index.Type .primary "Category" }}
		{{- if eq $kind "DataType" }}
			{{- $resLight = resources.Get "icons/light/ACCodeSnippet.png"}}
			{{- $resDark = resources.Get "icons/dark/ACCodeSnippet.png"}}
		{{- else if eq $kind "Group" }}
			{{- $resLight = resources.Get "icons/light/Group.png"}}
			{{- $resDark = resources.Get "icons/dark/Group.png"}}
		{{- else if eq $kind "Primitive" }}
			{{- $resLight = resources.Get "icons/light/Value.png"}}
			{{- $resDark = resources.Get "icons/dark/Value.png"}}
		{{- else }}
			{{- $resLight = resources.Get "icons/light/Value.png"}}
			{{- $resDark = resources.Get "icons/dark/Value.png"}}
		{{- end }}
	{{- end }}
	{{- if not $resLight}}{{$resLight = resources.Get (print "icons/light/Placeholder.png")}}{{end}}
	{{- if not $resDark}}{{$resDark = resources.Get (print "icons/dark/Placeholder.png")}}{{end}}
{{- end }}

{{- if $resLight }}
	{{- if $private }}
		{{- $overlayLight := (resources.Get "icons/light/Stop.png").Resize "24x" }}
		{{- $resLight = $resLight.Filter (images.Overlay $overlayLight 0 24) }}
		{{- if $resDark }}
			{{- $overlayDark := (resources.Get "icons/dark/Stop.png").Resize "24x" }}
			{{- $resDark = $resDark.Filter (images.Overlay $overlayDark 0 24) }}
		{{- end }}
	{{- end }}
	{{- if not $resDark}}{{$resDark = $resLight}}{{end}}
	<picture data-type="{{$type}}"{{if $kind}} data-kind="{{$kind}}"{{end}}>
		{{- if not (eq $resLight $resDark) }}
			<source media="(prefers-color-scheme: dark)" srcset="{{$resDark.RelPermalink}}">
		{{- end }}
		<img class="icon" src="{{$resLight.RelPermalink}}">
	</picture>
{{- else }}
	<picture data-type="{{$type}}"{{if $kind}} data-kind="{{$kind}}"{{end}}>
		<img class="icon">
	</picture>
{{- end }}