{{/* Renders HTML classes associated with the status/tags of the given entity.

type: string // Type of entity (class|member|enum|enumitem|type).
primary: string // Primary entity index.
secondary: string // Secondary entity index.

*/}}

{{- with partial "func/dump-index.html" . -}}
	{{- if .Dump -}}
		{{- if .Dump.Tags -}}
			{{- if in .Dump.Tags "Deprecated" }} api-deprecated{{- end -}}
			{{- if in .Dump.Tags "Hidden" }} api-hidden{{- end -}}
			{{- if in .Dump.Tags "NotBrowsable" }} api-unbrowsable{{- end -}}
		{{- end -}}
		{{- if and .Dump.ReadSecurity .Dump.WriteSecurity -}}
			{{- if ne .Dump.ReadSecurity "None" }} api-sec-{{.Dump.ReadSecurity}}{{- end -}}
			{{- if ne .Dump.WriteSecurity .Dump.ReadSecurity -}}
				{{- if ne .Dump.WriteSecurity "None" }} api-sec-{{.Dump.WriteSecurity}}{{- end -}}
			{{- end -}}
		{{- end -}}
		{{- if .Dump.Security -}}
			{{- if ne .Dump.Security "None" }} api-sec-{{.Dump.Security}}{{- end -}}
		{{- end -}}
	{{- end -}}
	{{- if .Index -}}
		{{- if .Index.Removed }} api-removed{{- end -}}
	{{- end -}}
{{- end -}}
