{{- $type := index . 0 -}}
{{- $primary := index . 1 -}}
{{- $secondary := index . 2 -}}

{{- $data := partial "func/dump-index.html" . }}
{{- $dump := $data.Dump }}
{{- $index := $data.Index }}

{{- if $dump -}}
	{{- if $dump.Tags -}}
		{{- if in $dump.Tags "Deprecated" }} api-deprecated{{- end -}}
		{{- if in $dump.Tags "Hidden" }} api-hidden{{- end -}}
		{{- if in $dump.Tags "NotBrowsable" }} api-unbrowsable{{- end -}}
	{{- end -}}
	{{- if and $dump.ReadSecurity $dump.WriteSecurity -}}
		{{- if ne $dump.ReadSecurity "None" }} api-sec-{{$dump.ReadSecurity}}{{- end -}}
		{{- if ne $dump.WriteSecurity $dump.ReadSecurity -}}
			{{- if ne $dump.WriteSecurity "None" }} api-sec-{{$dump.WriteSecurity}}{{- end -}}
		{{- end -}}
	{{- end -}}
	{{- if $dump.Security -}}
		{{- if ne $dump.Security "None" }} api-sec-{{$dump.Security}}{{- end -}}
	{{- end -}}
{{- end -}}
{{- if $index -}}
	{{- if $index.Removed }} api-removed{{- end -}}
{{- end -}}
