{{- /* string, string, string?, string? // Render a link to an API element. */ -}}

{{- /* string // Type of referred element. Case-insensitive. May be class,
member, enum, enumitem, or type */ -}}
{{- $type := index . 0 | lower -}}

{{- /* string // Name of primary element. */ -}}
{{- $primary := index . 1 -}}

{{- /* string? // Name of secondary element. */ -}}
{{- $secondary := index . 2 -}}

{{- /* string? // How to render the link.
	- (default): Render full link with icon.
	- "simple": Include only the name of the referred element (no primary or icon).
*/ -}}
{{- $mode := index . 3 -}}

{{- if eq $type "class" -}}
	<a class="entity-link {{partial `status-class.html` (slice $type $primary)}}" href="{{relref site.Home (path.Join `class` $primary)}}">{{$primary}}</a>
{{- else if eq $type "member" -}}
	<a class="entity-link {{partial `status-class.html` (slice $type $primary $secondary)}}" href="{{relref site.Home (path.Join `class` $primary)}}#member-{{$secondary}}">{{if ne $mode "simple"}}{{$primary}}.{{end}}{{$secondary}}</a>
{{- else if eq $type "enum" -}}
	<a class="entity-link {{partial `status-class.html` (slice $type $primary)}}" href="{{relref site.Home (path.Join `enum` $primary)}}">{{$primary}}</a>
{{- else if eq $type "enumitem" -}}
	<a class="entity-link {{partial `status-class.html` (slice $type $primary $secondary)}}" href="{{relref site.Home (path.Join `enum` $primary)}}#member-{{$secondary}}">{{if ne $mode "simple"}}{{$primary}}.{{end}}{{$secondary}}</a>
{{- else if eq $type "type" -}}
	<a class="entity-link {{partial `status-class.html` (slice $type $primary)}}" href="{{relref site.Home (path.Join `type` $primary)}}">{{$primary}}</a>
{{- end -}}