{{- $changes := index . 0 }}
{{- $truncated := index . 1 }}
{{- $secondary := index . 2 }}
<ul class="change-list{{if $truncated}} truncated-list{{end}}">
	{{- range $changes | sort | collections.Reverse }}
		{{- $change := index site.Data.History.Change (int .) }}
		{{- $type := partial "history/type.html" $change }}
		{{- $field := partial "history/field.html" $change }}
		<li class="filter-element" data-element="{{$change.Action.Element}}"{{if $field}} data-field="{{$field}}"{{end}}>{{partial "history/tag.html" $change}} {{partial "history/change.html" (slice $change $secondary)}}</li>
	{{- end }}
</ul>
