{{- if eq .Action.Element "Class" }}
	{{- partial "link/entity.html" (slice "class" .Action.Primary) }}
{{- else if eq .Action.Element "Property" }}
	{{- partial "link/entity.html" (slice "member" .Action.Primary .Action.Secondary) }}
{{- else if eq .Action.Element "Function" }}
	{{- partial "link/entity.html" (slice "member" .Action.Primary .Action.Secondary) }}
{{- else if eq .Action.Element "Event" }}
	{{- partial "link/entity.html" (slice "member" .Action.Primary .Action.Secondary) }}
{{- else if eq .Action.Element "Callback" }}
	{{- partial "link/entity.html" (slice "member" .Action.Primary .Action.Secondary) }}
{{- else if eq .Action.Element "Enum" }}
	{{- partial "link/entity.html" (slice "enum" .Action.Primary) }}
{{- else if eq .Action.Element "EnumItem" }}
	{{- partial "link/entity.html" (slice "enumitem" .Action.Primary .Action.Secondary) }}
{{- end }}