{{/* Renders a Change as a compact tag element.

Change

*/}}
{{- $type := "changed" }}
{{- if lt .Action.Type 0 }}
	{{- $type = "removed" }}
{{- else if gt .Action.Type 0 }}
	{{- $type = "added" }}
{{- end }}
{{- $event := index site.Data.History.Event (int .Event) }}
<a class="history-tag {{$type}}" href="{{relref site.Home (path.Join `updates` (time $event.Date).Year)}}#{{$event.GUID}}-{{.Index}}" title="{{humanize $type}} on {{$event.Date}}
{{partial `component/version-string.html` $event.Version}}
{{$event.GUID}}">{{$event.Version.Version}}</a>