{{/* Change, PreferredDescriptor // Render a preferred descriptor value. */}}
{{- define "preferred-descriptor" -}}
	{{/* Change // The change providing context for the descriptor name. */}}
	{{- $change := index . 0 -}}
	{{/* PreferredDescriptor // The preferred descriptor object. */}}
	{{- $value := index . 1 -}}
	{{- if eq $value "" -}}
		<span class="api-value-empty"></span>
	{{- else -}}
		{{- $value.Name -}}
	{{- end -}}
{{- end -}}

{{/* Type, string // Render the default value of a property. */}}
{{- define "default" -}}
	{{/* Type // The property's value type. */}}
	{{- $type := index . 0 -}}
	{{/* string // The default value. */}}
	{{- $value := index . 1 -}}
	{{- if eq $value "" -}}
		<span class="api-value-empty"></span>
	{{- else if eq $value "__api_dump_class_not_creatable__" -}}
		<span class="api-default-not-creatable">(not creatable)</span>
	{{- else if eq $value "__api_dump_no_string_value__" -}}
		<span class="api-default-no-string-value">(no value)</span>
	{{- else if eq $value "__api_dump_skipped_class__" -}}
		<span class="api-default-skipped-class">(skipped)</span>
	{{- else if eq $value "__api_dump_write_only_property__" -}}
		<span class="api-default-write-only">(write-only)</span>
	{{- else if eq $type.Category "Class" -}}
		<a class="type" href="{{ref site.Home (path.Join `class` $type.Name)}}">{{$value}}</a>
	{{- else if eq $type.Category "Enum" -}}
		<a class="type" href="{{ref site.Home (path.Join `enum` $type.Name)}}">{{$value}}</a>
	{{- else if eq $type.Name "bool" "int" "int64" "float" "double" -}}
		<a class="type" href="{{ref site.Home (path.Join `type` $type.Name)}}">{{$value}}</a>
	{{- else if eq $type.Name "string" "BinaryString" "ProtectedString" "Content" -}}
		<a class="type" href="{{ref site.Home (path.Join `type` $type.Name)}}">{{printf "%q" $value}}</a>
	{{- else -}}
		{{- partial "member/type.html" $type}}({{$value}})
	{{- end -}}
{{- end -}}

{{/* Change, string, any // Render a field value of a change. */}}

{{/* Change // The change, providing context. */}}
{{- $change := index . 0 -}}
{{/* string // The field name, providing context. */}}
{{- $field := index . 1 -}}
{{/* any // The value to render, type depdning on context. */}}
{{- $value := index . 2 -}}
{{- if eq $field "Parameters" -}}
	{{- partial "member/parameters.html" $value -}}
{{- else if eq $field "ReturnType" -}}
	{{- partial "member/returns.html" $value -}}
{{- else if eq $field "ValueType" -}}
	{{- partial "member/type.html" $value -}}
{{- else if eq $field "PreferredDescriptor" -}}
	{{- template "preferred-descriptor" slice $change $value -}}
{{- else if eq $field "Default" -}}
	{{/* TODO: Type must reflect state of element at time of change, not latest. */}}
	{{- $type := index site.Data.dump.Classes $change.Action.Primary "Members" $change.Action.Secondary "ValueType" -}}
	{{- template "default" slice $type $value -}}
{{- else if eq $value "" -}}
	<span class="api-value-empty"></span>
{{- else -}}
	{{- $value -}}
{{- end -}}