{{- /* Renders a preferred descriptor value.

change: Change // Provides context for the descriptor name.
value: PreferredDescriptor

*/ -}}
{{- define "preferred-descriptor" -}}
	{{- if eq .value "" -}}
		<span class="api-none"></span>
	{{- else -}}
		{{- .value.Name -}}
	{{- end -}}
{{- end -}}

{{- /* Renders a field value of a change.

change: Change // The change, providing context.
field: string // The field name, providing context.
value: any // The value to render, the type depending on context.

*/ -}}
{{- if eq .field "Parameters" -}}
	{{- partial "member/parameters.html" .value -}}
{{- else if eq .field "ReturnType" -}}
	{{- partial "member/returns.html" .value -}}
{{- else if eq .field "ValueType" -}}
	{{- partial "member/type.html" (dict "type" .value "simple" true) -}}
{{- else if eq .field "Tags" "LegacyNames" -}}
	{{- if .value -}}
		[{{- delimit .value ", " -}}]
	{{- else -}}
		[]
	{{- end -}}
{{- else if eq .field "PreferredDescriptor" -}}
	{{- template "preferred-descriptor" . -}}
{{- else if eq .field "Default" -}}
	{{- /* TODO: Type must reflect state of entity at time of change, not latest. */ -}}
	{{- $type := index site.Data.Dump.Classes .change.Action.Primary "Members" .change.Action.Secondary "ValueType" -}}
	{{- partial "member/default.html" (dict "type" $type "value" .value "simple" true) -}}
{{- else if eq .value "" -}}
	<span class="api-none"></span>
{{- else -}}
	{{- .value -}}
{{- end -}}