<!DOCTYPE html>
<html class="Auto" lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
	{{ partial "head.html" . }}
</head>
<body id="top" class="kind-{{.Kind}} type-{{.Type}}{{if .Params.Article}} article{{end}}">
	<header class="prime root stick">
		{{- partial "header.html" . }}
	</header>
	<main class="prime root">
		{{- block "main" . }}{{ end }}
	</main>
	<div class="top-nav"><a href="#top"></a></div>
	{{- partial "settings.html" . }}
	<footer class="prime root">
		{{- partial "footer.html" . }}
	</footer>
{{- if site.Params.debug }}
	<div class="debug"></div>
{{- end }}
</body>
</html>