<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
	{{ partial "head.html" . }}
</head>
<body id="top">
	<header>
		{{- partial "header.html" . }}
	</header>
	<main class="kind-{{.Kind}} type-{{.Type}}{{if .Params.Article}} article{{end}}">
		{{- block "main" . }}{{ end }}
	</main>
	<div class="top-nav"><a href="#top"></a></div>
	{{- partial "settings.html" . }}
	<footer>
		{{- partial "footer.html" . }}
	</footer>
{{- if site.Params.debug }}
	<div class="debug"></div>
{{- end }}
</body>
</html>