<!DOCTYPE html>
<html class="Auto" lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
	{{ partial "head.html" . }}
</head>
<body id="top" class="kind-{{.Kind}} type-{{.Type}}">
	{{- partial "singleton/panel-state.html" . }}
	{{- partial "singleton/root-panel.html" . }}
	<header id="root-header" class="prime stick">
		{{- partial "header.html" . }}
	</header>
	<main id="root-main" class="prime">
		{{- block "main" . }}{{ end }}
	</main>
	<div class="top-nav"><a href="#top"></a></div>
	{{- partial "singleton/settings-menu.html" . }}
	<footer id="root-footer" class="prime">
		{{- partial "footer.html" . }}
	</footer>
{{- if site.Params.debug }}
	<div class="debug"></div>
{{- end }}
</body>
</html>