{{- define "class-tree" }}
	{{- range . }}
		{{- $class := index site.Data.index.Class . }}
		{{- if not $class.Removed }}
		<li><a href="{{relref page (path.Join `class` .) }}">{{.}}</a>
			{{- if $class.Subclasses }}
			<ul>
			{{- template "class-tree" $class.Subclasses }}
			</ul>
			{{- end }}
		</li>
		{{- end }}
	{{- end }}
{{- end }}

{{- define "removed-class-tree" }}
	{{- range . }}
		{{- $class := index site.Data.index.Class . }}
		{{- if or $class.Removed $class.HasRemoved }}
		<li>{{- if $class.Removed }}
			<a href="{{relref page (path.Join `class` .) }}">{{.}}</a>
			{{- else }}
				{{.}}
			{{- end }}
			{{- if $class.Subclasses }}
			<ul>
			{{- template "removed-class-tree" $class.Subclasses }}
			</ul>
			{{- end }}
		</li>
		{{- end }}
	{{- end }}
{{- end }}

{{- define "main" }}
<article id="classes">
	{{- $countPresentClasses := 0 }}
	{{- $countRemovedClasses := 0 }}
	{{- range site.Data.index.Class }}
		{{- if .Removed }}
			{{- $countRemovedClasses = $countRemovedClasses | add 1 }}
		{{- else }}
			{{- $countPresentClasses = $countPresentClasses | add 1 }}
		{{- end }}
	{{- end }}
	<section id="present-classes">
		<header><h2>Classes <span class="element-count">{{$countPresentClasses}}</span></h2></header>
		<ul class="class-tree">
			{{- template "class-tree" site.Data.index.RootClasses -}}
		</ul>
	</section>
	<section id="removed-classes">
		<header><h2>Removed classes <span class="element-count">{{$countRemovedClasses}}</span></h2></header>
		<ul class="class-tree">
	{{- range site.Data.index.RootClasses }}
		{{- $class := index site.Data.index.Class . }}
		{{- if $class.Removed }}
			{{- template "removed-class-tree" (slice .) }}
		{{- end }}
	{{- end -}}
		</ul>
	</section>
</article>
<article id="enums">
	{{- $countPresentEnums := 0 }}
	{{- $countRemovedEnums := 0 }}
	{{- range site.Data.index.Enum }}
		{{- if .Removed }}
			{{- $countRemovedEnums = $countRemovedEnums | add 1 }}
		{{- else }}
			{{- $countPresentEnums = $countPresentEnums | add 1 }}
		{{- end }}
	{{- end }}
	<section id="present-enums">
		<header><h2>Enums <span class="element-count">{{$countPresentEnums}}</span></h2></header>
		<ul class="enum-list">
	{{- range $name, $enum := site.Data.index.Enum }}
		{{- if not $enum.Removed }}
			<li><a href="{{relref page (path.Join `enum` $name) }}">{{$name}}</a></li>
		{{- end }}
	{{- end }}
		</ul>
	</section>
	<section id="removed-enums">
		<header><h2>Removed enums <span class="element-count">{{$countRemovedEnums}}</span></h2></header>
		<ul class="enum-list">
	{{- range $name, $enum := site.Data.index.Enum }}
		{{- if $enum.Removed }}
			<li><a href="{{relref page (path.Join `enum` $name) }}">{{$name}}</a></li>
		{{- end }}
	{{- end }}
		</ul>
	</section>
</article>
<article id="types">
	{{- $countPresentTypes := 0 }}
	{{- $countRemovedTypes := 0 }}
	{{- $presentCats := newScratch }}
	{{- $removedCats := newScratch }}
	{{- range site.Data.index.Type }}
		{{- if .Removed }}
			{{- $countRemovedTypes = $countRemovedTypes | add 1 }}
			{{- $removedCats.Set .Category .Category }}
		{{- else }}
			{{- $countPresentTypes = $countPresentTypes | add 1 }}
			{{- $presentCats.Set .Category .Category }}
		{{- end }}
	{{- end }}
	<section id="present-types">
		<header><h2>Types <span class="element-count">{{$countPresentTypes}}/{{len $presentCats.Values}}</span></h2></header>
		<ul class="type-category-list">
			{{- range $category := $presentCats.Values }}
			<li>{{$category}}
				<ul class="type-list">
				{{- range $name, $type := site.Data.index.Type }}
					{{- if and (eq $type.Category $category) (not $type.Removed) }}
					<li><a href="{{relref page (path.Join `type` $name) }}">{{$name}}</a></li>
					{{- end }}
				{{- end }}
				</ul>
			</li>
			{{- end }}
		</ul>
	</section>
	<section id="removed-types">
		<header><h2>Removed types <span class="element-count">{{$countRemovedTypes}}/{{len $removedCats.Values}}</span></h2></header>
		<ul class="type-category-list">
			{{- range $category := $removedCats.Values }}
			<li>{{$category}}
				<ul class="type-list">
				{{- range $name, $type := site.Data.index.Type }}
					{{- if and (eq $type.Category $category) $type.Removed }}
					<li><a href="{{relref page (path.Join `type` $name) }}">{{$name}}</a></li>
					{{- end }}
				{{- end }}
				</ul>
			</li>
			{{- end }}
		</ul>
	</section>
</article>
{{- end }}