:root {
	// Baseline.
	--font-size: clamp(0.875rem, 0.7rem + 0.5vmin, 1.125rem);
	--line-height: 1.5;
	--baseline: calc(var(--font-size) * var(--line-height));
	--halfbase: calc(var(--baseline) / 2);

	// Horizontal spacing.
	--indent-full: 4ch;
	--indent-half: calc(var(--indent-full)/2);
	--indent: var(--indent-full); // Dynamic.
	--section-spacing: 2ch;

	// Readable width of paragraphed content.
	--para-width: 90ch;
	@supports (width: 90rch) {
		--para-width: 90rch;
	};
}