:root {
	// Baseline.
	--line-height: 1.5;
	--baseline: calc(var(--font-size) * var(--line-height));
	--halfbase: calc(var(--baseline) / 2);

	// Horizontal spacing.
	--indent-full: 4ch;
	--indent-half: calc(var(--indent-full)/2);
	--indent: var(--indent-full); // Dynamic.
	@media #{$reduced}, #{$small} {
		--indent: var(--indent-half);
	}

	// Widths of nav/content layout.
	--max-nav-width: 40ch;
	--min-content-width: 40ch;
	--max-content-width: 90ch;
	@supports (width: 90rch) {
		--max-nav-width: 40rch;
		--min-content-width: 40rch;
		--max-content-width: 90rch;
	};
}