// Covering both header and footer.
:root {
	// Breakpoint at which runner height is approximately greater than 1/12 of
	// viewport height, based on font-size.
	$hbp-runner: 850px;

	/* Header/Footer layout */
	--runner-step: 3;
	--runner-height: calc(var(--runner-step) * var(--baseline));
	--runner-bottom: var(--baseline);
	// header-height > vh/12
	@media (max-height: $hbp-runner) {
		--runner-step: 2;
	}
}