@media #{$reduced}, #{$small} {
	#root-panel {
		header.prime {
			grid-template-columns: max-content max-content 1fr max-content;
			grid-template-areas: "nav logo title close";
			.nav-focuser { grid-area: nav }
			.logo { grid-area: logo }
			h1 { grid-area: title }
			.none-focuser { grid-area: close }
		}
		ul {
			list-style: none;
		}
	}

	@include show-panel-for("#focus-root:checked ~ #root-panel");
}