body.kind-page:is(.type-class, .type-enum, .type-updates),
body.kind-section.type-updates {
	#root-main {
		// A grid arranges navigation on left and content on right. The content
		// is centered within its track by the two fr tracks around it expanding
		// to take up the remaining space. In order to have consistency between
		// pages, the nav and content have constant maximum widths, but are
		// allowed to shrink to fit the constraints of the viewport in the
		// proportion of X:X+Y, where X is the max nav width, and Y is the min
		// content width.
		display: grid;
		grid-template-columns:
			minmax(0, var(--max-nav-width))
			1fr
			minmax(var(--min-content-width), var(--max-content-width))
			1fr;
		grid-template-areas: "nav . article .";
		> nav { grid-area: nav }
		> article { grid-area: article }

		// Using margins instead of gap allows the first column to collapse
		// completely, because the left and right margin belong to the same
		// element. This also prevents extraneous gaps caused by fr columns.
		margin: var(--halfbase) 0;
		> :first-child {
			margin-left: var(--halfbase);
		}
		> * {
			margin-right: var(--halfbase);
		}

		@media #{$reduced}, #{$small} {
			grid-template-columns:
				1fr
				minmax(var(--min-content-width), var(--max-content-width))
				1fr;
			grid-template-areas: ". article .";
			margin: var(--halfbase);
		}
	}
}