// Table of contents.
#toc {
	position: sticky;
	top: var(--runner-height);
	max-height: calc(100vh - var(--runner-height));
	@include scrolling;

	@media #{$reduced}, #{$small} {
		position: unset !important;
		overflow: unset !important;
		scrollbar-gutter: unset !important;
		padding-bottom: var(--baseline);
	}
}