// Principal footer styling.
footer.prime {
	display: flex;
	align-items: center;
	flex-flow: wrap row;
	color: var(--theme-footer-text);
	background-color: var(--theme-footer);
	// Browsers may have fixed UI that appears at bottom of viewport, such
	// as link URLs.
	padding-bottom: var(--baseline);

	nav {
		// Expand to fill remaining space, and allow wrapping.
		flex: 1 1 auto;
		display: flex;
		flex-flow: wrap row;
		> * {
			height: var(--runner-height);
		}
	}

	a[href] {
		color: var(--theme-footer-text);
		--runner-hover-color: var(--theme-footer-text-hover);
		--runner-hover-background: var(--theme-footer-hover);
	}

	.license {
		padding: var(--halfbase);
		a[href] {
			white-space: nowrap;
		}
	}

	.publication {
		// Alawys keep on right side.
		margin-left: auto;
		padding: var(--halfbase);
		svg {
			height: 14px;
			width: 14px;
		}
		path {
			fill: var(--theme-footer-text);
		}
	}
}