// Principal header styling.
header.prime {
	height: var(--runner-height);
	background-color: var(--theme-Tab);
	display: grid;

	// Gracefully hide any overflow.
	> * {
		overflow: hidden;
	}

	// Website title.
	> :is(h1,h2,h3,h4,h5,h6) {
		margin: 0;
	}

	// Navigation links.
	> nav a {
		--runner-hover-color: var(--theme-link);
		--runner-hover-background: var(--theme-Tab-Hover);
	}
}

// Sticky header.
header.stick {
	position: sticky;
	top: 0;
	z-index: var(--layer-header);
	box-shadow: 0 0 calc(var(--halfbase) / 2) var(--theme-Dark);
}
