.change-list {
	li[data-field="Parameters"],
	li[data-field="Tags"] {
		.diff-values {
			display: table;
			padding-left: var(--indent);
			> * {
				display: table-row;
				> * {
					display: table-cell;
				}
			}
			.col-label {
				text-align: right;
				padding-right: 1ch;
			}
		}
	}
}

.history-tag {
	padding: 0 0.5ch;
	border-radius: 0.125em;
	&.added {
		background-color: var(--theme-history-add);
		color: var(--theme-history-add-text);
		&::before {
			content: "+";
		}
	}
	&.changed {
		background-color: var(--theme-history-change);
		color: var(--theme-history-change-text);
		&::before {
			content: "Δ";
		}
	}
	&.removed {
		background-color: var(--theme-history-remove);
		color: var(--theme-history-remove-text);
		&::before {
			content: "−";
		}
	}
}

#history .change-list {
	list-style: none;
	padding-left: 0;
}