$debug: {{site.Params.debug}};
$theme: {{site.Params.theme}};

@if ($debug) {
	* {
		outline: 1px solid red !important;
	}
	body {
		contain: layout;
		> .debug {
			pointer-events: none;

			// Test header height against viewport height.
			// position: fixed;
			// width: 100vw;
			// height: 8.333333333333332vh; // 1/12
			// background-color: #00FF0040;

			// Show baseline alignment.
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			mix-blend-mode: exclusion;
			background: repeating-linear-gradient(
				#00000008 0 var(--halfbase),
				#FFFFFF08 var(--halfbase) calc(var(--halfbase) * 2));
		}
	}
}

@import "theme";

:root {
	// Breakpoint at which header height is approximately greater than 12 of
	// viewport height, based on font-size.
	$hbp-header: 850px;

	/* Baseline */
	--font-size: clamp(0.875rem, 0.7rem + 0.5vmin, 1.125rem);
	--line-height: 1.5;
	--baseline: calc(var(--font-size) * var(--line-height));
	--halfbase: calc(var(--baseline) / 2);

	/* Header/Footer layout */
	--header-step: 3;
	--header-height: calc(var(--header-step) * var(--baseline));
	--header-bottom: var(--baseline);
	// header-height > vh/12
	@media (max-height: $hbp-header) {
		--header-step: 2;
	}

	/* Heading layout */
	--heading-step: 3;
	--heading-height: calc(var(--heading-step) * var(--baseline));

	/* Icon sizing */
	--icon-size-constant: 16px;
	--icon-size-dynamic: calc(var(--font-size) * 1/0.875);
	--icon-scale: var(--icon-size-dynamic);
	--icon-spacing: 0.5ch;

	/* Fonts */
	--sans-serif: "Open Sans", "Trebuchet MS", "DejaVu Sans", "Geneva", sans-serif;
	--monospace: "Consolas", "DejaVu Sans Mono", monospace;

	/* Horizontal spacing */
	--indent-full: 4ch;
	--indent-half: calc(var(--indent-full)/2);
	--indent: var(--indent-full); /* Dynamic */
	--section-spacing: 2ch;

	/* Z Layers */
	--layer-content: auto;
	--layer-below-foreground: 10;
	--layer-foreground: 20;
	--layer-menu: 30;

	/* Misc. */
	--scrollbar-width: 4ch;
	--para-width: 90ch;
	@supports (width: 90rch) {
		--para-width: 90rch;
	};
}

html {
	// Ensure footer is attached to bottom of viewport.
	display: flex;
	flex-direction: column;
	height: 100%;
	// min-content already pushes outward to overflow container, so ensure that
	// width is sized according to that.
	min-width: min-content;

	// Adjust for main header when targeting page sections.
	scroll-padding-top: calc(var(--header-height) + var(--halfbase));

	background-color: var(--theme-MainBackground);
	color: var(--theme-MainText);
	scrollbar-color: var(--theme-SubText) var(--theme-Tab);
}

// For link buttons in header and footer.
@mixin running-link {
	transition: background-color 100ms linear, color 100ms linear;
}

// Padding on sides of elements in header and footer.
@mixin running-padding {
	padding-left: var(--halfbase);
	padding-right: var(--halfbase);
}

// Elements displayed only when javascript is enabled. The related script
// manually removes the js class when it is ready.
.js {
	display: none !important;
}

body {
	flex: 1 0 auto;

	display: flex;
	flex-direction: column;

	font: var(--font-size)/var(--line-height) var(--sans-serif);
	margin: 0;
	padding: 0;

	// Main header.
	> header {
		position: sticky;
		top: 0;
		z-index: 1;
		height: var(--header-height);
		background-color: var(--theme-Tab);
		box-shadow: 0 0 calc(var(--halfbase) / 2) var(--theme-Dark);

		display: grid;
		grid-template-columns:
			max-content // Icon
			minmax(0, max-content) // Title
			minmax(0, 1fr) // Navigation
			max-content // Search
			max-content // Settings
		;

		// Layout for all descendant elements.
		* {
			// Elements should be vertically centered.
			display: flex;
			align-items: center;
			// Generally, interactivity of all descendant elements should span
			// entire height.
			height: 100%;
		}
		// Exception for anything under icons.
		.header-icon * {
			display: revert;
			align-items: revert;
			height: revert;
		}
		// Exception for search inputs.
		input {
			height: revert;
		}

		// Gracefully hide any overflow.
		> * {
			overflow: hidden;
		}

		// Website title.
		> h1 {
			margin: 0;
			white-space: nowrap;
			justify-content: flex-end;
			> a {
				@include running-padding;
			}
		}

		// Navigation links.
		> nav {
			> ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				li {
					a {
						&:hover {
							background-color: var(--theme-Tab-Hover);
						}
						@include running-link;
						@include running-padding;
					}
				}
			}
		}

		// Search widget.
		> #search {
			label {
				@include running-padding;
			}
		}

		// Settings widget.
		> #settings-container {
		}

		// Square icon with inset element.
		.header-icon {
			width: var(--header-height);
			height: var(--header-height);
			display: flex;
			align-items: center;
			justify-content: center;
			> * {
				--padding: var(--baseline);
				width: calc(var(--header-height) - var(--padding) * (var(--header-step) / 2) );
				height: calc(var(--header-height) - var(--padding) * (var(--header-step) / 2) );
			}
			&.logo > * {
				--padding: var(--halfbase);
			}
			> object {
				pointer-events: none;
				> img {
					width: 100%;
					height: 100%;
				}
			}
			// If svg, color paths to match text.
			path {
				transition: fill 100ms linear;
				fill: var(--theme-SubText);
			}
			&:hover path {
				fill: var(--theme-SubText-Selected);
			}
		}

		// Anything meant to be a button.
		.button {
			cursor: pointer;
		}
	}

	// Main content.
	> main {
		flex: 1 0 auto;
		margin: var(--halfbase);

		// Squeeze and center pages considered articles.
		&.article {
			max-width: var(--para-width);
			margin: var(--halfbase) auto;
			padding: 0 var(--halfbase);
		}

		// Standard formatting for entity pages.
		&:is(.type-class, .type-enum, .type-type, .type-updates) {
			// A grid arranges navigation on left and content on right. Content is
			// centered within its track, and is allowed to expand to its maximum
			// content size. Using 1fr for content track would start squeezing nav
			// track only once content track hits its min-content. Using "auto"
			// starts squeezing earlier, which distributes the space more evenly.
			// The exact calculation is not self-evident (minmax(auto, auto)), but
			// seems to work well enough.
			display: grid;
			grid-gap: 0 var(--section-spacing);
			grid-template-columns: minmax(0, max-content) auto;
			grid-template-areas: "nav article";
			> nav {
				grid-area: nav;
				overflow-x: clip;
				li {
					a {
						display: block;
						overflow: hidden;
						text-overflow: ellipsis;
						text-wrap: nowrap;
						max-width: max-content;
					}
				}
			}
			> article {
				grid-area: article;
				justify-self: center;
				overflow-x: clip;
			}

			// Table of contents.
			#toc {
				position: sticky;
				top: var(--header-height);
				max-height: calc(100vh - var(--header-height));
				overflow-y: auto;
				scrollbar-gutter: stable;
			}

			// Specific content styling.
			#content {
				p {
					max-width: var(--para-width);
				}
			}
		}

		header > :is(h1,h2,h3,h4,h5,h6) {
			display: flex;
			flex-flow: wrap row;
			align-items: baseline;
			gap: 0.25em;
			aside {
				font-size: var(--font-size);
				font-weight: normal;
				margin-left: auto;
			}
		}

		&.kind-home > section,
		&.kind-section:is(.type-class, .type-enum, .type-type) > article {
			display: flex;
			flex-flow: wrap row;
			column-gap: var(--section-spacing);
		}

		&.kind-home {
			display: grid;
			grid-template-columns: auto;
			justify-items: center;
			#updates {
				white-space: nowrap;
				max-width: 50ch;
				* {
					overflow: clip;
					text-overflow: ellipsis;
				}
				.update {
					margin: var(--baseline) 0;
				}
				::marker {
					font-family:var(--monospace);
				}
				.add {
					list-style: "+ " inside;
					&::marker { color: var(--theme-history-add-text) }
				}
				.change {
					list-style: "Δ " inside;
					&::marker { color: var(--theme-history-change-text) }
				}
				.remove {
					list-style: "− " inside;
					&::marker { color: var(--theme-history-remove-text) }
				}
			}
		}
	}

	// Main footer.
	> footer {
		flex-shrink: 0;

		display: flex;
		align-items: center;
		flex-flow: wrap row;

		background-color: var(--theme-footer);
		color: var(--theme-footer-text);
		// Browsers may have fixed UI that appears at bottom of viewport, such
		// as link URLs.
		padding-bottom: var(--baseline);

		:not(span) :not(span) {
			display: flex;
			align-items: center;

			min-height: calc(var(--header-step) * var(--baseline));
		}
		nav {
			flex: 1 1 auto;

			display: flex;
			align-items: stretch;

			ul {
				display: flex;
				flex-flow: wrap row;
				list-style-type: none;
				margin: 0;
				padding: 0;
				li {
					display: flex;
					align-items: stretch;
					a {
						@include running-link;
						@include running-padding;
					}
				}
			}
		}
		a[href] {
			color: var(--theme-footer-text);
			&:hover {
				color: var(--theme-footer-text-hover);
				background-color: var(--theme-footer-hover);
			}
		}
		> span {
			@include running-padding;
		}
		.license {
			padding: var(--halfbase);
			a[href] {
				white-space: nowrap;
			}
		}
		.publication {
			margin-left: auto;
			padding: var(--halfbase);
			svg {
				height: 14px;
				width: 14px;
			}
			path {
				fill: var(--theme-footer-text);
			}
		}
	}
}

// Top navigation
.top-nav {
	display: flex;
	align-self: flex-end;
	position: sticky;
	bottom: 0;
	right: 0;
	a {
		background-color: var(--theme-MainBackground);
		padding: var(--halfbase);
		&::before {
			content: "Top ↑";
		}
	}
}

.class-tree ul {
	border-left: 1px dotted var(--theme-border)
}

a[href] {
	color: var(--theme-link);
	text-decoration: none;
}

input[type="search"] {
	font: inherit;
	appearance: none;
	background-color: var(--theme-MainBackground);
	color: var(--theme-MainText);
	border: 1px solid var(--theme-Border);
	&:hover {
		border: 1px solid var(--theme-Border-Selected);
	}
	width: 24ch;
}

select {
	font: inherit;
	background-color: var(--theme-MainBackground);
	color: var(--theme-text);
	border: 1px solid var(--theme-border);
	-moz-appearance: none;
}


// Headings.
h1,h2,h3,h4,h5,h6 {
	--heading-font-size: calc(var(--heading-scale,1) * var(--font-size));
	--heading-bottom: var(--baseline);
	font-size: var(--heading-font-size);
	margin-bottom: var(--heading-bottom);
	margin-top: calc(var(--heading-height) - var(--heading-bottom) - var(--heading-font-size)*var(--line-height));
	margin-left: 0;
	margin-right: 0;
}
h1 { --heading-scale: calc(12/6) }
h2 { --heading-scale: calc(9/6) }
h3 { --heading-scale: calc(7/6) }
h4 { --heading-scale: calc(6/6) }
h5 { --heading-scale: calc(5/6) }
h6 { --heading-scale: calc(4/6) }

// Margined elements.
p, ul, ol, dl, table {
	margin: var(--baseline) 0;
}
ul, ol {
	padding-left: var(--indent);
}
ul ul, ul ol, ol ul, ol ol, td ul, td ol {
	margin-top: 0;
	margin-bottom: 0;
}

blockquote > :first-child::before {
	content: '“ ';
}
blockquote > :last-child::after {
	content: ' ”';
}

// Overflowing list that takes up a non-disruptive fraction of the viewport.
.truncated-list {
	max-height: 38.2vh;
	overflow-y: auto;
	scrollbar-gutter: stable;
}

// List where each element has an icon.
.element-list {
	--element-list-indent: calc(var(--icon-scale) + var(--icon-spacing));
	--indent: 0;
	list-style: none;
	ul {
		--indent: var(--element-list-indent);
		list-style: none;
	}
}

.entity-link {
	// Force element to shrink to content.
	max-width: max-content;
}

#removed-classes .entity-link:not(.removed) {
	opacity: 0.33;
}

// Contained within a heading to display the number of elements.
:is(h1,h2,h3,h4,h5,h6) .element-count {
	font-size: 75%;
	&::before {
		content: "(";
	}
	&::after {
		content: ")";
	}
}

.tags {
	font-size: smaller;
	text-align: right;
	margin: var(--baseline) 0;
}

.metadata-pairs {
	text-align: left;
	border-collapse: collapse;
	th {
		font-weight: bold;
		&::after {
			content: ": ";
			white-space: pre-wrap;
		}
	}
}

.index-card {
	--card-margin: 1ch;
	--card-padding: 1ch;
	--cell-spacing: 0.75ch;
	font-family: var(--monospace);
	border-collapse: separate;
	border-spacing: 0;
	background-color: var(--theme-TableItem);
	border: 1px solid var(--theme-border);
	margin: var(--baseline) var(--card-margin);
	padding: var(--card-padding);
	border-radius: var(--card-padding);

	tr:not(:first-of-type) > td {
		border-top: 1px solid var(--theme-border);
	}
	th {
		background-color: var(--theme-border);
	}
	td, th {
		text-align: left;
		vertical-align: top;
		padding: 0.25em 0;
		&:first-child {
			padding-left: var(--cell-spacing);
		}
		padding-right: var(--cell-spacing);
	}
	.col-history {
		text-align: left;
	}
	.col-icon {
		text-align: right;
	}
	.col-member {
		text-align: left;
	}
	.col-value {
		text-align: right;
	}
	.member-text {
		display: flex;
		flex-flow: wrap row;
		white-space: pre-wrap;
	}
}

.param-index-card {
	width: calc(100% - var(--card-margin)*2);
	max-width: var(--para-width);
}

.status-list {
	margin: var(--baseline) 0;
	max-width: max-content;
}
.status-box {
	background-color: var(--theme-TableItem);
	border-left: 0.5ch solid;
	padding: 0.5ch 1ch;
}
.status-header {
	font-weight: bold;
}
.status-low { border-left-color: var(--theme-status-low) }
.status-medium { border-left-color: var(--theme-status-medium) }
.status-high { border-left-color: var(--theme-status-high) }

main :target > header,
.index-card :target,
.update:target > .change-list-toggle,
.change-list > li:target {
	background-color: var(--theme-highlight);
}

.class-sort {
	display: flex;
	flex-flow: wrap row;
	gap: var(--halfbase);
}

#search-results {
	margin: 0 auto;
	flex: 1 0 auto;
}

table.stats {
	width: max-content;
	th {
		background-color: var(--theme-border);
	}
	td {
		background-color: var(--theme-TableItem);
	}
	:is(th,td) {
		padding: 0 0.5ch;
		vertical-align: top;
	}
	td.l {
		text-align: left;
	};
	td.c {
		text-align: center;
	};
	td.r {
		text-align: right;
	};
}

table.search-database {
	table-layout: fixed;
	text-align: left;
	font-family: var(--monospace);
	font-size: 12px;
	white-space: nowrap;
	text-wrap: nowrap;
	th {
		position: sticky;
		top: var(--header-height);
		background-color: var(--theme-border);
	}
	td {
		background-color: var(--theme-TableItem);
		&.x {
			background-color: var(--theme-CategoryItem);
		}
	}
}

// Used to allow last row of table to be placed next to sticky headers.
.gap {
	height: 100vh;
}

// Settings panel.
@import "settings";

// Technical control widgets.
@import "controls";

// Related to history and updates.
@import "history";

// Decoration for API values and statuses.
@import "api";

// Related to icons.
@import "icons";

// Page types.
@import "class";
@import "enum";
@import "type";
@import "updates";
