html {
	// Ensure footer is attached to bottom of viewport.
	display: flex;
	flex-direction: column;
	height: 100%;
	// min-content already pushes outward to overflow container, so ensure that
	// width is sized according to that.
	min-width: min-content;

	// Adjust for main header when targeting page sections.
	scroll-padding-top: calc(var(--runner-height) + var(--halfbase));

	background-color: var(--theme-background);
	color: var(--theme-text);
	scrollbar-color: var(--theme-scroll-thumb) var(--theme-scroll-track);
}

body {
	// Grow to ensure footer is attached to bottom.
	flex: 1 0 auto;

	display: flex;
	flex-direction: column;

	font: var(--font-size)/var(--line-height) var(--sans-serif);

	// Remove browser defaults.
	margin: 0;
	padding: 0;
}

a[href], .link {
	color: var(--theme-link);
	text-decoration: none;
}

// Elements displayed only when javascript is enabled. The related script
// manually removes the js class when it is ready.
.js {
	display: none !important;
}
