body.type-updates {
	@media #{$small} {
		.permalink {
			&::before {
				content: "¶";
			}
			.guid {
				display: none;
			}
		}
		.version {
			.gen,
			.sep:nth-child(3),
			.sep:nth-child(7),
			.commit {
				display: none;
			}
		}
	}
}