{{- /* Renders a list of updates.

recent: bool? // If true, render only recent updates, where the epoch is set to the latest non-empty update.
years:  int?  // If recent is true, indicates the number of years before the epoch.
months: int?  // If recent is true, indicates the number of months before the epoch.
days:   int?  // If recent is true, indicates the number of days before the epoch.
year:   int?  // If recent is false, updates are render only for the given year.

*/}}
{{- $updates := partial "updates/get.html" . }}
<ul id="update-list">
	{{- range $updates }}
		<li>
			<section id="{{.GUID}}" class="update">
				{{- partial "updates/update.html" . }}
				{{- if .ChangesCount }}
					{{- partial "entity/link.html" (dict "type" "releasenotes" "primary" .Version)}}
				{{- end }}
				<ul class="change-list">
					{{- if .ChangesCount }}
						{{- $update := . }}
						{{- $limit := 2000 }}{{/* seq allows up to this number of elements. */}}

						{{/* For added primary entities, subsequent matching
						secondary entities are indented within it. Assumes that
						such entities are ordered correctly. */}}
						{{- $parent := false }}

						{{- range seq 0 (div (int $update.ChangesCount) $limit) }}
							{{- $start := add (int $update.ChangesStart) (mul . $limit) }}
							{{- $count := sub (int $update.ChangesCount) (mul . $limit) }}
							{{- $max := (add $start (sub (math.Min $count $limit) 1))}}
							{{- range seq $start $max }}
								{{- $change := index site.Data.History.Change . }}
								{{- if and ($parent) (ne $change.Action.Primary $parent.Action.Primary) }}
									{{- $parent = false }}
									</ul>
									</li>
								{{- end }}
								{{- $type := partial "history/type.html" $change }}
								{{- $field := partial "history/field.html" $change }}
								<li id="{{$update.GUID}}-{{$change.Index}}" data-entity="{{$change.Action.Element}}"{{if $field}} data-field="{{$field}}"{{end}}>{{- partial "history/change.html" (dict "change" $change "hascontext" $parent) -}}
								{{- if and (not $parent) (eq (int $change.Action.Type) 1 -1) (eq $change.Action.Element "Class" "Enum") }}
									{{- $parent = $change }}
									<ul>
								{{- else }}
									</li>
								{{- end }}
							{{- end }}
						{{- end }}
						{{- if $parent }}
							{{- $parent = false }}
							</ul>
							</li>
						{{- end }}
					{{- else }}
						<li class="no-changes">No changes</li>
					{{- end }}
				</ul>
			</section>
		</li>
	{{- end }}
</ul>
