{{- /* Renders a list of updates for the current page. If the current page is
the root updates, then recent updates are rendered. Otherwise, updates for the
year corresponding to the page title are rendered. */}}

{{- $all := site.Data.History.Event | collections.Reverse }}
{{- $updates := slice }}
{{- $recent := site.GetPage "updates" }}
{{- if eq . $recent }}
	{{- $latestNonEmpty := false }}
	{{- range $all }}
		{{- if gt .ChangesCount 0 }}
			{{- $latestNonEmpty = . }}
			{{- break }}
		{{- end }}
	{{- end }}
	{{- $startTime := (now.AddDate 0 -3 0) }}
	{{- if $latestNonEmpty }}
		{{- $startTime = (time $latestNonEmpty.Date).AddDate 0 -3 0 }}
	{{- end }}
	{{- range $all }}
		{{- if $startTime.Before (time .Date) }}
			{{- $updates = $updates | append . }}
		{{- end }}
	{{- end }}
{{- else }}
	{{- $year := int .Title }}
	{{- range $all }}
		{{- if eq $year (time .Date).Year }}
			{{- $updates = $updates | append . }}
		{{- end }}
	{{- end }}
{{- end }}
<ul id="update-list">
	{{- range $updates }}
		<li>
			<section id="{{.GUID}}" class="update">
				{{- partial "updates/update.html" . }}
				{{- if .ChangesCount }}
					{{- $major := index (split .Version ".") 1 }}
					{{- partial "entity/link.html" (dict "type" "releasenotes" "primary" $major)}}
				{{- end }}
				<ul class="change-list">
					{{- if .ChangesCount }}
						{{- $event := . }}
						{{- $limit := 2000 }}{{/* seq allows up to this number of elements. */}}

						{{/* For added primary elements, subsequent matching
						secondary elements are indented within it. Assumes that
						such elements are ordered correctly. */}}
						{{- $parent := false }}

						{{- range seq 0 (div (int $event.ChangesCount) $limit) }}
							{{- $start := add (int $event.ChangesStart) (mul . $limit) }}
							{{- $count := sub (int $event.ChangesCount) (mul . $limit) }}
							{{- $max := (add $start (sub (math.Min $count $limit) 1))}}
							{{- range seq $start $max }}
								{{- $change := index site.Data.History.Change . }}
								{{- if and ($parent) (ne $change.Action.Primary $parent.Action.Primary) }}
									{{- $parent = false }}
									</ul>
									</li>
								{{- end }}
								{{- $type := partial "history/type.html" $change }}
								{{- $field := partial "history/field.html" $change }}
								<li id="{{$event.GUID}}-{{$change.Index}}" data-element="{{$change.Action.Element}}"{{if $field}} data-field="{{$field}}"{{end}}>{{- partial "history/change.html" (dict "change" $change "hascontext" $parent) -}}
								{{- if and (not $parent) (eq (int $change.Action.Type) 1 -1) (eq $change.Action.Element "Class" "Enum") }}
									{{- $parent = $change }}
									<ul>
								{{- else }}
									</li>
								{{- end }}
							{{- end }}
						{{- end }}
						{{- if $parent }}
							{{- $parent = false }}
							</ul>
							</li>
						{{- end }}
					{{- else }}
						<li class="no-changes">No changes</li>
					{{- end }}
				</ul>
			</section>
		</li>
	{{- end }}
</ul>