<section id="root-panel" class="panel left hide-standard">
	<header class="prime stick">
		{{- partial "component/focuser.html" (dict "focus" "nav" "icon" "nav") }}
		{{- partial "component/logo.html" }}
		<h1 class="runner-button">{{partial "component/title.html" .}}</h1>
		{{- partial "component/focuser.html" (dict "focus" "none" "icon" "close") }}
	</header>
	<section>
		<h2>Engine API</h2>
		<ul>
			{{- range site.Sections }}
				<li><a href="{{.RelPermalink}}">{{.Title}}</a></li>
			{{- end }}
		</ul>
		<h2>Website</h2>
		<ul>
			<li><a href="{{(site.GetPage `about`).RelPermalink}}">About</a></li>
			<li><a href="{{(site.GetPage `stats`).RelPermalink}}">Statistics</a></li>
			<li><a href="{{site.Params.Repo}}">Develop</a></li>
			<li><a href="{{site.Params.Issues}}">Issues</a></li>
		</ul>
		<h2>Related</h2>
		<ul>
			<li><a href="{{site.Params.CreatorHub}}">Creator Hub</a></li>
			<li><a href="{{site.Params.Roblox}}">Roblox</a></li>
		</ul>
	</section>
</section>