{{/* Render body of member index table.

class: string
members: []MemberIndex
inherited: bool // Whether members are inherited from an ancestor class.

*/}}
{{- define "member-index-body" }}
	<tbody>
		{{- $members := .members }}
		{{- if $members }}
			{{- range $memberType := site.Data.Index.MemberTypes }}
				{{- range $members }}
					{{- $memberDump := index site.Data.Dump "Classes" .Class "Members" .Name }}
					{{- if eq $memberDump.MemberType $memberType }}
						{{- $status := partial `entity/status-class.html` (dict `type` `member` `primary` .Class `secondary` .Name)}}
						<tr class="set {{$status}}">
							{{- $changes := index site.Data.History.Object.Member .Class .Name}}
							{{- $latest := int (index (last 1 $changes) 0) }}
							{{- $change := index site.Data.History.Change $latest }}
							<td class="col-history">{{partial "history/tag.html" $change}}</td>
							<td class="col-icon">{{partial "entity/icon.html" (dict "type" "member" "primary" .Class "secondary" .Name)}}</td>
							<td class="col-member">
								<span class="member-text deco {{$status}}">{{- /**/ -}}
									<span class="name">{{partial "entity/link.html" (dict "type" "member" "primary" .Class "secondary" .Name "simple" true "nostatus" true)}}</span>
									{{- if eq $memberDump.MemberType "Property" -}}
										<span class="bind">: </span><span class="type">{{partial "member/type.html" (dict "type" $memberDump.ValueType "simple" true)}}</span>
									{{- else if eq $memberDump.MemberType "Function" -}}
										{{partial "member/parameters.html" $memberDump.Parameters}}<span class="bind">: </span>{{partial "member/returns.html" $memberDump.ReturnType}}
									{{- else if eq $memberDump.MemberType "Event" -}}
										{{partial "member/parameters.html" $memberDump.Parameters}}
									{{- else if eq $memberDump.MemberType "Callback" -}}
										{{partial "member/parameters.html" $memberDump.Parameters}}<span class="bind">: </span>{{partial "member/returns.html" $memberDump.ReturnType}}
									{{- end -}}
								</span>
							</td>
						</tr>
					{{- end }}
				{{- end }}
			{{- end }}
		{{- else if not .inherited }}
			<tr class="empty">
				<td colspan="3">No members defined by {{.class}}.</td>
			</tr>
		{{- end }}
	</tbody>
{{- end }}

{{/* Render entire member index table.

class: string
members: []MemberIndex
inherited: bool? // Whether members are inherited from an ancestor class.

*/}}
{{- define "member-index" }}
	{{- $className := .class }}
	<table class="index-card members">
		<thead>
			<tr>
				<th class="col-history">History</th>
				<th class="col-icon"></th>
				<th class="col-member">Member</th>
			</tr>
		</thead>
		{{- template "member-index-body" (dict "class" $className "members" .members "inherited" false) }}
		{{- if .inherited }}
			{{- range $index, $class := index site.Data.Index.Class $className "Superclasses" }}
				{{- if (index site.Data.Index.Class $class).Removed }}
					{{- continue }}
				{{- end }}
				{{- $members := slice }}
				{{- range index site.Data.Index.Member $class }}
					{{- if not .Removed }}
						{{- $members = $members | append . }}
					{{- end }}
				{{- end }}
				{{- if $members }}
					<thead class="inherited-members">
						<tr>
							<th colspan="3"><label><input type="checkbox"><span class="element-count">{{len $members}}</span> members</label> inherited from {{partial "entity/link.html" (dict "type" "class" "primary" $class)}}</th>
						</tr>
					</thead>
					{{- template "member-index-body" (dict "class" $className "members" $members "inherited" true) }}
				{{- end }}
			{{- end }}
		{{- end }}
	</table>
{{- end }}

{{/* Render section for each member.

[]MemberIndex

*/}}
{{- define "members" }}
	<div class="members-sections">
		{{- range . }}
			{{- $dump := index site.Data.Dump.Classes .Class "Members" .Name }}
			<section id="member-{{.Name}}" class="set {{partial `entity/status-class.html` (dict `type` `member` `primary` .Class `secondary` .Name)}}">
				<header><h3>{{partial "entity/icon.html" (dict "type" "member" "primary" .Class "secondary" .Name)}}{{.Name}}<aside>{{partial "entity/link.html" (dict "type" "member" "primary" .Class "secondary" .Name "hub" true)}}</aside></h3></header>
				{{- partial "status/list.html" (dict "type" "member" "primary" .Class "secondary" .Name) }}
				{{- if eq $dump.MemberType "Property"}}
					<h4>Value type: {{partial "member/type.html" (dict "type" $dump.ValueType)}}</h4>
					<table class="metadata-pairs">
						<tr class="pair"><th class="name">Default value</th><td class="value">{{partial "member/default.html" (dict "type" $dump.ValueType "value" $dump.Default "hascontext" true)}}</td></tr>
						{{- if eq $dump.ReadSecurity $dump.WriteSecurity }}
							{{- if and $dump.ReadSecurity (ne $dump.ReadSecurity "None") }}
								<tr class="pair"><th class="name">Security</th><td class="value">{{$dump.ReadSecurity}}</td></tr>
							{{- end }}
						{{- else }}
							{{- if and $dump.ReadSecurity (ne $dump.ReadSecurity "None") }}
								<tr class="pair"><th class="name">Read security</th><td class="value">{{$dump.ReadSecurity}}</td></tr>
							{{- end }}
							{{- if and $dump.WriteSecurity (ne $dump.WriteSecurity "None") }}
								<tr class="pair"><th class="name">Write security</th><td class="value">{{$dump.WriteSecurity}}</td></tr>
							{{- end }}
						{{- end }}
						{{- if $dump.ThreadSafety }}
							<tr class="pair"><th class="name">Thread safety</th><td class="value">{{$dump.ThreadSafety}}</td></tr>
						{{- end }}
						<tr class="pair"><th class="name">Category</th><td class="value">{{$dump.Category}}</td></tr>
						<tr class="pair"><th class="name">Loaded/Saved</th><td class="value">
							{{- if eq $dump.CanLoad $dump.CanSave -}}
								{{- $dump.CanLoad -}}
							{{- else -}}
								{{- $dump.CanLoad}}/{{$dump.CanSave -}}
							{{- end -}}
						</td></tr>
						{{/* TODO: reflection metadata */}}
					</table>
				{{- else if eq $dump.MemberType "Function"}}
					<h4>Parameters {{partial "component/element-count.html" (len $dump.Parameters)}}</h4>
					{{- partial "member/parameters-table.html" $dump.Parameters }}
					<h4>Returns: {{partial "member/returns-list.html" $dump.ReturnType}}</h4>
					<table class="metadata-pairs">
						{{- if and $dump.Security (ne $dump.Security "None") }}
							<tr class="pair"><th class="name">Security</th><td class="value">{{$dump.Security}}</td></tr>
						{{- end }}
						{{- if $dump.ThreadSafety }}
							<tr class="pair"><th class="name">Thread safety</th><td class="value">{{$dump.ThreadSafety}}</td></tr>
						{{- end }}
						{{/* TODO: reflection metadata */}}
					</table>
				{{- else if eq $dump.MemberType "Event"}}
					<h4>Parameters {{partial "component/element-count.html" (len $dump.Parameters)}}</h4>
					{{- partial "member/parameters-table.html" $dump.Parameters }}
					<table class="metadata-pairs">
						{{- if and $dump.Security (ne $dump.Security "None") }}
							<tr class="pair"><th class="name">Security</th><td class="value">{{$dump.Security}}</td></tr>
						{{- end }}
						{{- if $dump.ThreadSafety }}
							<tr class="pair"><th class="name">Thread safety</th><td class="value">{{$dump.ThreadSafety}}</td></tr>
						{{- end }}
						{{/* TODO: reflection metadata */}}
					</table>
				{{- else if eq $dump.MemberType "Callback"}}
					<h4>Parameters {{partial "component/element-count.html" (len $dump.Parameters)}}</h4>
					{{- partial "member/parameters-table.html" $dump.Parameters }}
					<h4>Returns: {{partial "member/returns-list.html" $dump.ReturnType}}</h4>
					<table class="metadata-pairs">
						{{- if and $dump.Security (ne $dump.Security "None") }}
							<tr class="pair"><th class="name">Security</th><td class="value">{{$dump.Security}}</td></tr>
						{{- end }}
						{{- if $dump.ThreadSafety }}
							<tr class="pair"><th class="name">Thread safety</th><td class="value">{{$dump.ThreadSafety}}</td></tr>
						{{- end }}
						{{/* TODO: reflection metadata */}}
					</table>
				{{- end }}
				{{- $changes := slice | append (index site.Data.History.Object.Member .Class .Name) }}
				{{- if $changes }}
					<h4>History {{partial "component/element-count.html" (len $changes)}}</h4>
					{{- partial "history/change-list.html" (dict "changes" $changes "truncated" true "hascontext" true) }}
				{{- end }}
			{{- if $dump.Tags }}
				<div class="tags">Tags: [{{delimit $dump.Tags ", "}}]</div>
			{{- end }}
			</section>
		{{- end }}
	</div>
{{- end }}

{{- define "main" }}
{{- $className := .Title }}
{{- $classIndex := index site.Data.Index.Class $className }}
{{- $classDump := index site.Data.Dump.Classes $className }}

{{- $superclasses := partial "func/classes.html" $classIndex.Superclasses }}

{{- $subclasses := partial "func/classes.html" $classIndex.Subclasses }}

{{- $sibclasses := slice }}
{{- if $classIndex.Superclasses }}
	{{- $superclassIndex := index site.Data.Index.Class (index $classIndex.Superclasses 0) }}
	{{- if gt (len $superclassIndex.Subclasses) 1 }}
		{{- $sibclasses = partial "func/classes.html" $superclassIndex.Subclasses }}
	{{- end }}
	{{- if and (site.Params.MaxSiblingClasses) (gt (len $sibclasses) site.Params.MaxSiblingClasses) }}
		{{- $sibclasses = slice }}
	{{- end }}
{{- end }}

{{- $members := slice }}
{{- range index site.Data.Index.Member $className }}
	{{- if not .Removed }}
		{{- $members = $members | append . }}
	{{- end }}
{{- end }}

{{- $removedMembers := slice }}
{{- range index site.Data.Index.Member $className }}
	{{- if .Removed }}
		{{- $removedMembers = $removedMembers | append . }}
	{{- end }}
{{- end }}

{{- $changes := slice | append (index site.Data.History.Object.Class $className) }}
{{- range index site.Data.History.Object.Member $className }}
	{{- $changes = $changes | append . }}
{{- end }}
{{- $changes = $changes | sort | uniq }}

{{- $relatedClasses := slice }}
{{- range $classIndex.Related }}
	{{- if and (not .Removed) (eq .Class $className) (eq .Type.Category "Class") (ne .Type.Name $className) }}
		{{- $relatedClasses = $relatedClasses | append .Type.Name }}
	{{- end }}
{{- end }}
{{- $relatedClasses = $relatedClasses | sort | uniq }}

{{- $relatedMembers := slice }}
{{- range $classIndex.Related}}
	{{- if and (not .Removed) (ne .Class $className) }}
		{{- $relatedMembers = $relatedMembers | append . }}
	{{- end }}
{{- end }}

{{- $relatedEnums := slice }}
{{- range $classIndex.Related }}
	{{- if and (not .Removed) (eq .Class $className) (eq .Type.Category "Enum") }}
		{{- $relatedEnums = $relatedEnums | append .Type.Name }}
	{{- end }}
{{- end }}
{{- $relatedEnums = $relatedEnums | sort | uniq }}

{{- $relatedTypes := slice }}
{{- range $classIndex.Related }}
	{{- if and (not .Removed) (eq .Class $className) (ne .Type.Category "Class") (ne .Type.Category "Enum") }}
		{{- $relatedTypes = $relatedTypes | append .Type.Name }}
	{{- end }}
{{- end }}
{{- $relatedTypes = $relatedTypes | sort | uniq }}

{{- partial "singleton/nav-panel.html" . }}
	{{- if or $superclasses $subclasses $sibclasses }}
		<section id="hierarchy">
			{{- if $superclasses }}
				<section id="superclasses">
					<header><h2>Inherits {{partial "component/element-count.html" (len $superclasses)}}</h2></header>
					<ul class="entity-list truncated-list">
						{{- range $superclasses }}
							<li class="set {{partial `entity/status-class.html` (dict `type` `class` `primary` .Name) }}">{{partial "entity/link.html" (dict "type" "class" "primary" .Name)}}</li>
						{{- end }}
					</ul>
				</section>
			{{- end }}
			{{- if $subclasses }}
				<section id="subclasses">
					<header><h2>Inherited by {{partial "component/element-count.html" (len $subclasses)}}</h2></header>
					<ul class="entity-list truncated-list">
						{{- range $subclasses }}
							<li class="set {{partial `entity/status-class.html` (dict `type` `class` `primary` .Name) }}">{{partial "entity/link.html" (dict "type" "class" "primary" .Name)}}</li>
						{{- end }}
					</ul>
				</section>
			{{- end }}
			{{- if $sibclasses }}
				<section id="sibclasses">
					<header><h2>Siblings {{partial "component/element-count.html" (len $sibclasses)}}</h2></header>
					<ul class="entity-list truncated-list">
						{{- range $sibclasses }}
							<li class="set {{partial `entity/status-class.html` (dict `type` `class` `primary` .Name) }}">{{partial "entity/link.html" (dict "type" "class" "primary" .Name "nolink" (eq .Name $className))}}</li>
						{{- end }}
					</ul>
				</section>
			{{- end }}
		</section>
	{{- end }}
	<section id="toc">
		<header><h2>Contents</h2></header>
		<ol class="toc">
			<li id="toc-summary"><a href="#summary">Summary</a></li>
			{{- if or $superclasses $subclasses $sibclasses }}
				<li id="toc-hierarchy">Class tree
					<ol>
						{{- if $superclasses }}
							<li id="toc-superclasses"><a href="#superclasses">Inherits</a></li>
						{{- end }}
						{{- if $subclasses }}
							<li id="toc-subclasses"><a href="#subclasses">Inherited by</a></li>
						{{- end }}
						{{- if $sibclasses }}
							<li id="toc-sibclasses"><a href="#sibclasses">Siblings</a></li>
						{{- end }}
					</ol>
				</li>
			{{- end }}
			<li id="toc-members-index"><a href="#members-index">Member index</a></li>
			{{- if $removedMembers }}
				<li id="toc-removed-members-index" class="set removed"><a href="#removed-members-index">Removed member index</a></li>
			{{- end }}
			{{- if $changes }}
				<li id="toc-history"><a href="#history">History</a></li>
			{{- end }}
			{{- if $members }}
				<li id="toc-members"><a href="#members">Members</a>
					<ol>
						{{- range $members}}
							<li class="set {{partial `entity/status-class.html` (dict `type` `member` `primary` $className `secondary` .Name)}}">{{partial "entity/link.html" (dict "type" "member" "primary" $className "secondary" .Name "hascontext" true)}}</li>
						{{- end }}
					</ol>
				</li>
			{{- end }}
			{{- if $removedMembers }}
				<li id="toc-removed-members" class="set removed"><a href="#removed-members">Removed members</a>
					<ol>
						{{- range $removedMembers}}
							<li class="set {{partial `entity/status-class.html` (dict `type` `member` `primary` $className `secondary` .Name)}}">{{partial "entity/link.html" (dict "type" "member" "primary" $className "secondary" .Name "hascontext" true)}}</li>
						{{- end }}
					</ol>
				</li>
			{{- end }}
			{{- if or $relatedClasses $relatedMembers $relatedEnums $relatedTypes }}
				<li id="toc-references">References
					<ol>
						{{- if or $relatedClasses }}
							<li id="toc-related-classes"><a href="#related-classes">Related classes</a></li>
						{{- end }}
						{{- if or $relatedMembers }}
							<li id="toc-related-members"><a href="#related-members">Related members</a></li>
						{{- end }}
						{{- if or $relatedEnums }}
							<li id="toc-related-enums"><a href="#related-enums">Related enums</a></li>
						{{- end }}
						{{- if or $relatedTypes }}
							<li id="toc-related-types"><a href="#related-types">Related types</a></li>
						{{- end }}
					</ol>
				</li>
			{{- end }}
		</ol>
	</section>
{{- partial "singleton/nav-panel-end.html" . }}
<article id="content">
	<header><h1>{{partial "entity/icon.html" (dict "type" "class" "primary" $className)}}{{$className}}<aside>{{partial "entity/link.html" (dict "type" "class" "primary" $className "hub" true)}}</aside></h1></header>
	<section id="summary">
		<header><h2>Summary</h2></header>
		{{- partial "status/list.html" (dict "type" "class" "primary" $className) }}
		<table class="metadata-pairs">
			<tr class="pair"><th class="name">Memory category</th><td class="value">{{$classDump.MemoryCategory}}</td></tr>
		</table>
		{{- if $classDump.Tags }}
			<div class="tags">Tags: [{{delimit $classDump.Tags ", "}}]</div>
		{{- end }}
	</section>

	<section id="members-index">
		<header><h2>Member index {{partial "component/element-count.html" (len $members)}}</h2></header>
		{{- template "member-index" (dict "class" $className "members" $members "inherited" true) }}
	</section>

	{{- if $removedMembers }}
		<section id="removed-members-index" class="set removed">
			<header><h2>Removed member index {{partial "component/element-count.html" (len $removedMembers)}}</h2></header>
			{{- template "member-index" (dict "class" $className "members" $removedMembers "inherited" false) }}
		</section>
	{{- end }}

	{{- if $changes }}
		<section id="history" class="filter-container history-member-filter">
			<header>
				<h2>History {{partial "component/element-count.html" (len $changes)}}
					<aside class="filter-controls">
						<label>
							<input class="filter-input" type="checkbox">
							<span>Hide member changes</span>
						</label>
					</aside>
				</h2>
			</header>
			{{- partial "history/change-list.html" (dict "changes" $changes "truncated" true "hascontext" true) }}
		</section>
	{{- end }}

	{{- if $members }}
		<section id="members">
			<header><h2>Members {{partial "component/element-count.html" (len $members)}}</h2></header>
			{{template "members" $members}}
		</section>
	{{- end }}

	{{- if $removedMembers }}
		<section id="removed-members" class="set removed">
			<header><h2>Removed members {{partial "component/element-count.html" (len $removedMembers)}}</h2></header>
			{{template "members" $removedMembers}}
		</section>
	{{- end }}

	{{- if or $relatedClasses $relatedMembers $relatedEnums $relatedTypes }}
		<section id="references">
			{{- if $relatedClasses }}
				<section id="related-classes">
					<header><h2>Related classes {{partial "component/element-count.html" (len $relatedClasses)}}</h2></header>
					<ul class="entity-list truncated-list">
						{{- range $relatedClasses }}
							<li class="set {{partial `entity/status-class.html` (dict `type` `class` `primary` .)}}">{{partial "entity/link.html" (dict "type" "class" "primary" .)}}</li>
						{{- end }}
					</ul>
				</section>
			{{- end }}
			{{- if $relatedMembers }}
				<section id="related-members">
					<header><h2>Related members {{partial "component/element-count.html" (len $relatedMembers)}}</h2></header>
					<ul class="entity-list truncated-list">
						{{- range $relatedMembers }}
							{{- $type := "class" }}
							{{- if .Member }}
								{{- $type = "member" }}
							{{- end }}
							<li class="set {{partial `entity/status-class.html` (dict `type` $type `primary` .Class `secondary` .Member)}}">
								<span>
									{{- partial "entity/link.html" (dict "type" $type "primary" .Class "secondary" .Member) }}
									{{- if eq .Kind "Parameter" }} (
										{{- index site.Data.Dump.Classes .Class "Members" .Member "Parameters" (int .Index) "Name" }})
									{{- end -}}
								</span>
							</li>
						{{- end }}
					</ul>
				</section>
			{{- end }}
			{{- if $relatedEnums }}
				<section id="related-enums">
					<header><h2>Related enums {{partial "component/element-count.html" (len $relatedEnums)}}</h2></header>
					<ul class="entity-list truncated-list">
						{{- range $relatedEnums }}
							<li class="set {{partial `entity/status-class.html` (dict `type` `enum` `primary` .)}}">{{partial "entity/link.html" (dict "type" "enum" "primary" .)}}</li>
						{{- end }}
					</ul>
				</section>
			{{- end }}
			{{- if $relatedTypes }}
				<section id="related-types">
					<header><h2>Related types {{partial "component/element-count.html" (len $relatedTypes)}}</h2></header>
					<ul class="entity-list truncated-list">
						{{- range $relatedTypes }}
							<li class="set {{partial `entity/status-class.html` (dict `type` `type` `primary` .)}}">{{partial "entity/link.html" (dict "type" "type" "primary" .)}}</li>
						{{- end }}
					</ul>
				</section>
			{{- end }}
		</section>
	{{- end }}
</article>
{{- end }}