{{/* Type // Render a type link. */}}
{{- define "type" -}}
	{{- $cat := "type" }}
	{{- if eq .Category "Class" -}}
		{{- $cat = "class" }}
	{{- else if eq .Category "Enum" -}}
		{{- $cat = "enum" }}
	{{- end -}}
	<a class="type" href="{{ref site.Home (path.Join $cat .Name)}}">{{.Name}}{{if .Optional}}?{{end}}</a>
{{- end -}}

{{/* []Parameter // Render member parameters as function type definition. */}}
{{- define "parameters" -}}
	{{- $n := sub (len .) 1 -}}
	<span class="params-open">(</span>
	{{- range $i, $param := . -}}
		<span class="parameter">{{$param.Name}}: {{template "type" $param.Type}}{{if .Optional}} = {{.Default}}{{end}}</span>
		{{- if lt $i $n -}}
			<span class="param-sep">, </span>
		{{- end -}}
	{{- end -}}
	<span class="params-close">)</span>
{{- end -}}

{{/* []Parameter // Render member parameters as a table. */}}
{{- define "parameters-table" -}}
	<table class="index-card param-index-card">
		<thead>
			<tr>
				<th class="col-member">Name</th>
				<th class="col-type">Type</th>
				<th class="col-default">Default</th>
			</tr>
		</thead>
		<tbody>
			{{- range . }}
				<tr class="row-{{.Name}}">
					<td class="col-member">{{.Name}}</td>
					<td class="col-type">{{template "type" .Type}}</td>
					<td class="col-default">{{if .Optional}}<span class="api-default">{{.Default}}</span>{{else}}<span class="api-no-default">none</span>{{end}}</td>
				</tr>
			{{- else }}
				<tr>
					<td colspan="3">No parameters.</td>
				</tr>
			{{- end }}
		</tbody>
	</table>
{{- end -}}

{{/* []Type // Render member return types as function type definition. */}}
{{- define "returns" -}}
	{{- $n := sub (len .) 1 -}}
	{{- if eq $n 0 -}}
		<span class="return">{{template "type" (index . 0)}}</span>
	{{- else -}}
		<span class="returns-open">(</span>
		{{- range $i, $type := . -}}
			<span class="return">{{template "type" $type}}</span>
			{{- if lt $i $n -}}
				<span class="return-sep">, </span>
			{{- end -}}
		{{- end -}}
		<span class="returns-close">)</span>
	{{- end -}}
{{- end -}}

{{/* []Type // Render member return types as delimited list. */}}
{{- define "return-types" -}}
	{{- range $i, $type := . -}}
		{{- if gt $i 0}}, {{end -}}
		{{- template "type" $type -}}
	{{- end -}}
{{- end -}}

{{/* []MemberIndex // Render member index table. */}}
{{- define "member-index" }}
	<table class="member-index">
		<thead>
			<tr>
				<th class="col-history">History</th>
				<th class="col-icon"></th>
				<th class="col-member">Member</th>
			</tr>
		</thead>
		<tbody>
			{{- $members := . }}
			{{- range $memberType := site.Data.index.MemberTypes }}
				{{- range $members }}
					{{ $memberDump := index site.Data.dump "Classes" .Class "Members" .Name }}
					{{- if eq $memberDump.MemberType $memberType }}
						<tr>
							{{- $changes := index site.Data.history.Object.Member .Class .Name}}
							{{- $latest := int (index (last 1 $changes) 0) }}
							{{- $change := index site.Data.history.Change $latest }}
							<td class="col-history">{{partial "HistoryTag.html" $change}}</td>
							<td class="col-icon">{{$memberDump.MemberType}}</td>
							<td class="col-member">
								{{- if eq $memberDump.MemberType "Property" }}
									<span class="name">{{partial "Link.html" (slice "member" .Class .Name "simple")}}</span>: <span class="type">{{template "type" $memberDump.ValueType}}</span>
								{{- else if eq $memberDump.MemberType "Function" }}
									<span class="name">{{partial "Link.html" (slice "member" .Class .Name "simple")}}</span>{{template "parameters" $memberDump.Parameters}}: {{template "returns" $memberDump.ReturnType}}
								{{- else if eq $memberDump.MemberType "Event" }}
									<span class="name">{{partial "Link.html" (slice "member" .Class .Name "simple")}}</span>{{template "parameters" $memberDump.Parameters}}
								{{- else if eq $memberDump.MemberType "Callback" }}
									<span class="name">{{partial "Link.html" (slice "member" .Class .Name "simple")}}</span>{{template "parameters" $memberDump.Parameters}}: {{template "returns" $memberDump.ReturnType}}
								{{- end -}}
							</td>
						</tr>
					{{- end }}
				{{- end }}
			{{- end }}
		</tbody>
	</table>
{{- end }}

{{/* (Change, PreferredDescriptor) // Render a preferred descriptor value. */}}
{{- define "preferred-descriptor" -}}
	{{- $change := index . 0 -}}
	{{- $value := index . 1 -}}
	{{- if eq $value "" -}}
		<span class="api-value-empty"></span>
	{{- else -}}
		{{- $value.Name -}}
	{{- end -}}
{{- end }}

{{/* (Type, string) // Render default value. */}}
{{- define "default" -}}
	{{- $type := index . 0 -}}
	{{- $value := index . 1 -}}
	{{- if eq $value "" -}}
		<span class="api-value-empty"></span>
	{{- else if eq $value "__api_dump_class_not_creatable__" -}}
		<span class="api-default-not-creatable">(not creatable)</span>
	{{- else if eq $value "__api_dump_no_string_value__" -}}
		<span class="api-default-no-string-value">(no value)</span>
	{{- else if eq $value "__api_dump_skipped_class__" -}}
		<span class="api-default-skipped-class">(skipped)</span>
	{{- else if eq $value "__api_dump_write_only_property__" -}}
		<span class="api-default-write-only">(write-only)</span>
	{{- else if eq $type.Category "Class" -}}
		<a class="type" href="{{ref site.Home (path.Join `class` $type.Name)}}">{{$value}}</a>
	{{- else if eq $type.Category "Enum" -}}
		<a class="type" href="{{ref site.Home (path.Join `enum` $type.Name)}}">{{$value}}</a>
	{{- else if eq $type.Name "bool" "int" "int64" "float" "double" -}}
		<a class="type" href="{{ref site.Home (path.Join `type` $type.Name)}}">{{$value}}</a>
	{{- else if eq $type.Name "string" "BinaryString" "ProtectedString" "Content" -}}
		<a class="type" href="{{ref site.Home (path.Join `type` $type.Name)}}">{{printf "%q" $value}}</a>
	{{- else -}}
		{{- template "type" $type}}({{$value}})
	{{- end -}}
{{- end }}

{{/* Render a change field value. */}}
{{- define "value" -}}
	{{- $change := index . 0 -}}
	{{- $field := index . 1 -}}
	{{- $value := index . 2 -}}
	{{- if eq $field "Parameters" -}}
		{{- template "parameters" $value -}}
	{{- else if eq $field "ReturnType" -}}
		{{- template "returns" $value -}}
	{{- else if eq $field "ValueType" -}}
		{{- template "type" $value -}}
	{{- else if eq $field "PreferredDescriptor" -}}
		{{- template "preferred-descriptor" slice $change $value -}}
	{{- else if eq $field "Default" -}}
		{{/* TODO: Type must reflect state of element at time of change, not latest. */}}
		{{- $type := index site.Data.dump.Classes $change.Action.Primary "Members" $change.Action.Secondary "ValueType" -}}
		{{- template "default" slice $type $value -}}
	{{- else if eq $value "" -}}
		<span class="api-value-empty"></span>
	{{- else -}}
		{{- $value -}}
	{{- end -}}
{{- end -}}

{{/* Change // Render history change. */}}
{{- define "change" }}
	{{- $type := "Change" }}
	{{- if lt .Action.Type 0 }}
		{{- $type = "Remove" }}
	{{- else if gt .Action.Type 0 }}
		{{- $type = "Add" }}
	{{- end }}
	{{- $field := "" }}
	{{$type}} {{if eq $type "Change"}}
		{{- range $name,$_ := .Action.Fields}}
			{{- $name}} of {{/**/}}
			{{- $field = $name }}
		{{- end}}
	{{- end}}
	{{- if eq .Action.Element "Class" }}
		{{partial "Link.html" (slice "class" .Action.Primary) }}
	{{- else if eq .Action.Element "Property" }}
		{{partial "Link.html" (slice "member" .Action.Primary .Action.Secondary) }}
	{{- else if eq .Action.Element "Function" }}
		{{partial "Link.html" (slice "member" .Action.Primary .Action.Secondary) }}
	{{- else if eq .Action.Element "Event" }}
		{{partial "Link.html" (slice "member" .Action.Primary .Action.Secondary) }}
	{{- else if eq .Action.Element "Callback" }}
		{{partial "Link.html" (slice "member" .Action.Primary .Action.Secondary) }}
	{{- else if eq .Action.Element "Enum" }}
		{{partial "Link.html" (slice "enum" .Action.Primary) }}
	{{- else if eq .Action.Element "EnumItem" }}
		{{partial "Link.html" (slice "enumitem" .Action.Primary .Action.Secondary) }}
	{{- end }}
	{{if eq $type "Change"}}
		<span class="diff-values">
			<span class="row-from">
				<span class="col-label">from</span>
				<span class="col-value">{{template "value" slice . $field (index .Prev $field)}}</span>
			</span>
			<span class="row-to">
				<span class="col-label">to</span>
				<span class="col-value">{{template "value" slice . $field (index .Action.Fields $field)}}</span>
			</span>
		</span>
	{{- end }}
{{- end }}

{{/* []MemberIndex // Render section for each member. */}}
{{- define "members" }}
	<div id="members-sections">
		{{- range . }}
			{{- $dump := index site.Data.dump.Classes .Class "Members" .Name }}
			<section id="member-{{.Name}}">
				<header><h3>{{.Name}}</h3></header>
				{{- if eq $dump.MemberType "Property"}}
					<table class="metadata-pairs">
						<tbody>
							<tr><td>Value Type</td><td>{{template "type" $dump.ValueType}}</td></tr>
							{{- if eq $dump.ReadSecurity $dump.WriteSecurity }}
								{{- if and $dump.ReadSecurity (ne $dump.ReadSecurity "None" "") }}
									<tr><td>Security</td><td>{{$dump.ReadSecurity}}</td></tr>
								{{- end }}
							{{- else }}
								{{- if and $dump.ReadSecurity (ne $dump.ReadSecurity "None" "") }}
									<tr><td>Read Security</td><td>{{$dump.ReadSecurity}}</td></tr>
								{{- end }}
								{{- if and $dump.WriteSecurity (ne $dump.WriteSecurity "None" "") }}
									<tr><td>Write Security</td><td>{{$dump.WriteSecurity}}</td></tr>
								{{- end }}
							{{- end }}
							<tr><td>Category</td><td>{{$dump.Category}}</td></tr>
							<tr><td>Can Load</td><td>{{$dump.CanLoad}}</td></tr>
							<tr><td>Can Save</td><td>{{$dump.CanSave}}</td></tr>
							{{/* TODO: reflection metadata */}}
						</tbody>
					</table>
				{{- else if eq $dump.MemberType "Function"}}
					<table class="metadata-pairs">
						<tbody>
							<tr><td>Parameters</td><td>{{partial "element-count.html" (len $dump.Parameters)}}</td></tr>
						</tbody>
					</table>
					{{- template "parameters-table" $dump.Parameters }}
					<table class="metadata-pairs">
						<tbody>
							<tr><td>Returns</td><td>{{template "return-types" $dump.ReturnType}}</td></tr>
							{{- if and .Security (ne .Security "None" "") }}
								<tr><td>Security</td><td>{{$dump.Security}}</td></tr>
							{{- end }}
							{{/* TODO: reflection metadata */}}
						</tbody>
					</table>
				{{- else if eq $dump.MemberType "Event"}}
					<table class="metadata-pairs">
						<tbody>
							<tr><td>Parameters</td><td>{{partial "element-count.html" (len $dump.Parameters)}}</td></tr>
						</tbody>
					</table>
					{{- template "parameters-table" $dump.Parameters }}
					<table class="metadata-pairs">
						<tbody>
							{{- if and .Security (ne .Security "None" "") }}
								<tr><td>Security</td><td>{{$dump.Security}}</td></tr>
							{{- end }}
							{{/* TODO: reflection metadata */}}
						</tbody>
					</table>
				{{- else if eq $dump.MemberType "Callback"}}
					<table class="metadata-pairs">
						<tbody>
							<tr><td>Parameters</td><td>{{partial "element-count.html" (len $dump.Parameters)}}</td></tr>
						</tbody>
					</table>
					{{- template "parameters-table" $dump.Parameters }}
					<table class="metadata-pairs">
						<tbody>
							<tr><td>Returns</td><td>{{template "return-types" $dump.ReturnType}}</td></tr>
							{{- if and .Security (ne .Security "None" "") }}
								<tr><td>Security</td><td>{{$dump.Security}}</td></tr>
							{{- end }}
							{{/* TODO: reflection metadata */}}
						</tbody>
					</table>
				{{- end }}
			{{- if $dump.Tags }}
				<p class="tags">Tags: [{{delimit $dump.Tags ", "}}]</p>
			{{- end }}
				{{- $changes := slice | append (index site.Data.history.Object.Member .Class .Name) }}
				<h4>History {{partial "element-count.html" (len $changes)}}</h4>
				<ul class="change-list truncated-list">
					{{- range $changes | sort | collections.Reverse }}
						{{- $change := index site.Data.history.Change (int .) }}
						<li>{{partial "HistoryTag.html" $change}} {{template "change" $change}}</li>
					{{- end }}
				</ul>
			</section>
		{{- end }}
	</div>
{{- end }}

{{- define "main" }}
{{- $className := .Title }}
{{- $classIndex := index site.Data.index.Class $className }}
{{- $classDump := index site.Data.dump.Classes $className }}

{{- $superclasses := partial "Classes.html" $classIndex.Superclasses }}

{{- $subclasses := partial "Classes.html" $classIndex.Subclasses }}

{{- $members := slice }}
{{- range index site.Data.index.Member $className }}
	{{- if not .Removed }}
		{{- $members = $members | append . }}
	{{- end }}
{{- end }}

{{- $removedMembers := slice }}
{{- range index site.Data.index.Member $className }}
	{{- if .Removed }}
		{{- $removedMembers = $removedMembers | append . }}
	{{- end }}
{{- end }}

{{- $changes := slice | append (index site.Data.history.Object.Class $className) }}
{{- range index site.Data.history.Object.Member $className }}
	{{- $changes = $changes | append . }}
{{- end }}

{{- $relatedClasses := slice }}
{{- range $classIndex.Related }}
	{{- if and (not .Removed) (eq .Class $className) (eq .Type.Category "Class") (ne .Type.Name $className) }}
		{{- $relatedClasses = $relatedClasses | append .Type.Name }}
	{{- end }}
{{- end }}
{{- $relatedClasses = $relatedClasses | sort | uniq }}

{{- $relatedMembers := slice }}
{{- range $classIndex.Related}}
	{{- if and (not .Removed) (ne .Class $className) }}
		{{- $relatedMembers = $relatedMembers | append . }}
	{{- end }}
{{- end }}

{{- $relatedEnums := slice }}
{{- range $classIndex.Related }}
	{{- if and (not .Removed) (eq .Class $className) (eq .Type.Category "Enum") }}
		{{- $relatedEnums = $relatedEnums | append .Type.Name }}
	{{- end }}
{{- end }}
{{- $relatedEnums = $relatedEnums | sort | uniq }}

{{- $relatedTypes := slice }}
{{- range $classIndex.Related }}
	{{- if and (not .Removed) (eq .Class $className) (ne .Type.Category "Class") (ne .Type.Category "Enum") }}
		{{- $relatedTypes = $relatedTypes | append .Type.Name }}
	{{- end }}
{{- end }}
{{- $relatedTypes = $relatedTypes | sort | uniq }}

<header><h1>{{$className}}</h1></header>

<section id="summary">
	<header><h2>Summary</h2></header>
	<table class="metadata-pairs">
		<tbody>
			<tr><th>Memory Category</th><td>{{$classDump.MemoryCategory}}</td></tr>
		</tbody>
	</table>
	{{- if $classDump.Tags }}
		<p class="tags">Tags: [{{delimit $classDump.Tags ", "}}]</p>
	{{- end }}
</section>

<nav>
	<section>
		<header><h2>Table of contents</h2></header>
		<ol class="toc">
			{{- if or $superclasses $subclasses }}
				<li id="toc-class-tree">Class tree
					<ol>
						{{- if $superclasses }}
							<li id="toc-superclasses"><a href="#superclasses">Inherits</a></li>
						{{- end }}
						{{- if $subclasses }}
							<li id="toc-subclasses"><a href="#subclasses">Inherited by</a></li>
						{{- end }}
					</ol>
				</li>
			{{- end }}
			<li><a href="#members-index">Member index</a></li>
			{{- if $removedMembers }}
				<li id="toc-removed-members-index"><a href="#removed-members-index">Removed member index</a></li>
			{{- end }}
			{{- if $changes }}
				<li><a href="#history">History</a></li>
			{{- end }}
			{{- if $members }}
				<li><a href="#members">Members</a>
					<ol>
						{{- range $members}}
							<li><a href="#member-{{.Name}}">{{.Name}}</a></li>
						{{- end }}
					</ol>
				</li>
			{{- end }}
			{{- if $removedMembers }}
				<li><a href="#removed-members">Removed members</a>
					<ol>
						{{- range $removedMembers}}
							<li><a href="#member-{{.Name}}">{{.Name}}</a></li>
						{{- end }}
					</ol>
				</li>
			{{- end }}
			{{- if or $relatedClasses $relatedMembers $relatedEnums $relatedTypes }}
				<li>References
					<ol>
						{{- if or $relatedClasses }}
							<li><a href="#related-classes">Related classes</a></li>
						{{- end }}
						{{- if or $relatedMembers }}
							<li><a href="#related-members">Related members</a></li>
						{{- end }}
						{{- if or $relatedEnums }}
							<li><a href="#related-enums">Related enums</a></li>
						{{- end }}
						{{- if or $relatedTypes }}
							<li><a href="#related-types">Related types</a></li>
						{{- end }}
					</ol>
				</li>
			{{- end }}
		</ol>
	</section>
</nav>

{{- if or $superclasses $subclasses }}
	<section id="hierarchy">
		{{- if $superclasses }}
			<section id="superclasses">
				<header><h2>Inherits {{partial "element-count.html" (len $superclasses)}}</h2></header>
				<ul>
					{{- range $superclasses }}
						<li><a href="{{ref page (path.Join `class` .Name) }}">{{.Name}}</a></li>
					{{- end }}
				</ul>
			</section>
		{{- end }}
		{{- if $subclasses }}
			<section id="subclasses">
				<header><h2>Inherited by {{partial "element-count.html" (len $subclasses)}}</h2></header>
				<ul>
					{{- range $subclasses }}
						<li><a href="{{ref page (path.Join `class` .Name) }}">{{.Name}}</a></li>
					{{- end }}
				</ul>
			</section>
		{{- end }}
	</section>
{{- end }}

<section id="members-index">
	<header><h2>Members {{partial "element-count.html" (len $members)}}</h2></header>
	{{- template "member-index" $members }}
</section>

{{- if $removedMembers }}
	<section id="removed-members-index">
		<header><h2>Removed members {{partial "element-count.html" (len $removedMembers)}}</h2></header>
		{{- template "member-index" $removedMembers }}
	</section>
{{- end }}

{{- if $changes }}
	<section id="history">
		<header><h2>History {{partial "element-count.html" (len $changes)}}</h2></header>
		<ul class="change-list truncated-list">
			{{- range $changes | sort | collections.Reverse }}
				{{- $change := index site.Data.history.Change (int .) }}
				<li>{{partial "HistoryTag.html" $change}} {{template "change" $change}}</li>
			{{- end }}
		</ul>
	</section>
{{- end }}

{{- if $members }}
	<section id="members">
		<header><h2>Members</h2></header>
		{{template "members" $members}}
	</section>
{{- end }}

{{- if $removedMembers }}
	<section id="removed-members">
		<header><h2>Removed members</h2></header>
		{{template "members" $removedMembers}}
	</section>
{{- end }}

{{- if or $relatedClasses $relatedMembers $relatedEnums $relatedTypes }}
	<section id="references">
		{{- if $relatedClasses }}
			<section id="related-classes">
				<header><h2>Related classes {{partial "element-count.html" (len $relatedClasses)}}</h2></header>
				<ul class="truncated-list element-list">
					{{- range $relatedClasses }}
						<li>{{partial "Link.html" (slice "class" .)}}</li>
					{{- end }}
				</ul>
			</section>
		{{- end }}
		{{- if $relatedMembers }}
			<section id="related-members">
				<header><h2>Related members {{partial "element-count.html" (len $relatedMembers)}}</h2></header>
				<ul class="truncated-list element-list">
					{{- range $relatedMembers }}
						{{- $type := "class" }}
						{{- if .Member }}
							{{- $type = "member" }}
						{{- end }}
						<li>
							{{- partial "Link.html" (slice $type .Class .Member) }}
							{{- if eq .Kind "Parameter" }} (
								{{- index site.Data.dump.Classes .Class "Members" .Member "Parameters" (int .Index) "Name" }})
							{{- end -}}
						</li>
					{{- end }}
				</ul>
			</section>
		{{- end }}
		{{- if $relatedEnums }}
			<section id="related-enums">
				<header><h2>Related enums {{partial "element-count.html" (len $relatedEnums)}}</h2></header>
				<ul class="truncated-list element-list">
					{{- range $relatedEnums }}
						<li>{{partial "Link.html" (slice "enum" .)}}</li>
					{{- end }}
				</ul>
			</section>
		{{- end }}
		{{- if $relatedTypes }}
			<section id="related-types">
				<header><h2>Related types {{partial "element-count.html" (len $relatedTypes)}}</h2></header>
				<ul class="truncated-list element-list">
					{{- range $relatedTypes }}
						<li>{{partial "Link.html" (slice "type" .)}}</li>
					{{- end }}
				</ul>
			</section>
		{{- end }}
	</section>
{{- end }}
{{- end }}