<article id="enums">
	{{- $countPresentEnums := 0 }}
	{{- $countRemovedEnums := 0 }}
	{{- range site.Data.Index.Enum }}
		{{- if .Removed }}
			{{- $countRemovedEnums = $countRemovedEnums | add 1 }}
		{{- else }}
			{{- $countPresentEnums = $countPresentEnums | add 1 }}
		{{- end }}
	{{- end }}
	<section id="present-enums">
		<header><h2>Enums <span class="element-count">{{$countPresentEnums}}</span></h2></header>
		<ul class="enum-list element-list">
			{{- range $name, $enum := site.Data.Index.Enum }}
				{{- if not $enum.Removed }}
					<li class="set {{partial `status-class.html` (dict `type` `enum` `primary` $name)}}">{{partial `link/entity.html` (dict "type" "enum" "primary" $name)}}</li>
				{{- end }}
			{{- end }}
		</ul>
	</section>
	<section id="removed-enums" class="set removed">
		<header><h2>Removed enums <span class="element-count">{{$countRemovedEnums}}</span></h2></header>
		<ul class="enum-list element-list">
			{{- range $name, $enum := site.Data.Index.Enum }}
				{{- if $enum.Removed }}
					<li class="set {{partial `status-class.html` (dict `type` `enum` `primary` $name)}}">{{partial `link/entity.html` (dict "type" "enum" "primary" $name)}}</li>
				{{- end }}
			{{- end }}
		</ul>
	</section>
</article>
