{{/* Render item index table.

items: []EnumItemIndex

*/}}
{{- define "item-index" }}
{{- $hasLegacyNames := false }}
{{- range .items }}
	{{- $itemDump := index site.Data.Dump "Enums" .Enum "Items" .Name }}
	{{- if $itemDump.LegacyNames }}
		{{- $hasLegacyNames = true }}
		{{- break }}
	{{- end }}
{{- end }}
{{- $hasTags := false }}
{{- range .items }}
	{{- $itemDump := index site.Data.Dump "Enums" .Enum "Items" .Name }}
	{{- $tags := $itemDump.Tags | complement (slice "Deprecated" "NotBrowsable" "Hidden" ) }}
	{{- if $tags }}
		{{- $hasTags = true }}
		{{- break }}
	{{- end }}
{{- end }}
<table class="index-card enumitems">
	<thead>
		<tr>
			<th class="col-history">History</th>
			<th class="col-icon"></th>
			<th class="col-name">Name</th>
			<th class="col-value">Value</th>
			{{- if $hasLegacyNames }}
				<th class="col-legacy-names">Legacy Names</th>
			{{- end}}
			{{- if $hasTags }}
				<th class="col-tags">Tags</th>
			{{- end}}
		</tr>
	</thead>
	<tbody>
		{{- range .items }}
			{{- $itemDump := index site.Data.Dump "Enums" .Enum "Items" .Name }}
			<tr id="member-{{.Name}}" class="set {{partial `entity/status-class.html` (dict `type` `enumitem` `primary` .Enum `secondary` .Name)}}">
				{{- $changes := index site.Data.History.Object.EnumItem .Enum .Name}}
				{{- $change := false }}
				{{- if $changes }}
					{{- $latest := int (index (last 1 $changes) 0) }}
					{{- $change = index site.Data.History.Change $latest }}
				{{- end }}
				<td class="col-history">{{if $change}}{{partial "history/tag.html" $change}}{{end}}</td>
				<td class="col-icon">{{partial "entity/icon.html" (dict "type" "enumitem" "primary" .Enum "secondary" .Name)}}</td>
				<td class="col-name">{{partial "entity/link.html" (dict "type" "enumitem" "primary" .Enum "secondary" .Name "simple" true)}}</td>
				<td class="col-value"><span>{{$itemDump.Value}}</span></td>
				{{- if $hasLegacyNames }}
					<td class="col-legacy-names">{{if $itemDump.LegacyNames}}<span>{{delimit $itemDump.LegacyNames ", "}}</span>{{end}}</td>
				{{- end}}
				{{- if $hasTags }}
					{{- $tags := $itemDump.Tags | complement (slice "Deprecated" "NotBrowsable" "Hidden" ) }}
					<td class="col-tags">{{if $tags}}<span>{{delimit $tags ", "}}</span>{{end}}</td>
				{{- end}}
			</tr>
		{{- else }}
			<tr class="empty">
				<td colspan="4">No members defined by {{.enum}}.</td>
			</tr>
		{{- end }}
	</tbody>
</table>
{{- end }}

{{- define "main" }}
{{- $enumName := .Title }}
{{- $enumIndex := index site.Data.Index.Enum $enumName }}
{{- $enumDump := index site.Data.Dump.Enums $enumName }}

{{- $items := slice }}
{{- range index site.Data.Index.Enum $enumName "ItemsByIndex" }}
	{{- $index := index site.Data.Index.EnumItem $enumName . }}
	{{- if not $index.Removed }}
		{{- $items = $items | append $index }}
	{{- end }}
{{- end }}

{{- $removedItems := slice }}
{{- range $index := index site.Data.Index.EnumItem $enumName }}
	{{- if $index.Removed }}
		{{- $removedItems = $removedItems | append $index }}
	{{- end }}
{{- end }}

{{- $changes := slice | append (index site.Data.History.Object.Enum $enumName) }}
{{- range index site.Data.History.Object.EnumItem $enumName }}
	{{- $changes = $changes | append . }}
{{- end }}
{{- $changes = $changes | sort | uniq }}

{{- $relatedMembers := slice }}
{{- range $enumIndex.Related}}
	{{- if and (not .Removed) }}
		{{- $relatedMembers = $relatedMembers | append . }}
	{{- end }}
{{- end }}

{{- partial "singleton/nav-panel.html" . }}
	<section id="toc">
		<header><h2>Contents</h2></header>
		<ol class="toc">
			{{- if $enumDump.Tags }}
				<li id="toc-summary"><a href="#summary">Summary</a></li>
			{{- end }}
			<li id="toc-members-index"><a href="#members-index">Items</a></li>
			{{- if $removedItems }}
				<li id="toc-removed-members-index" class="set removed"><a href="#removed-members-index">Removed item index</a></li>
			{{- end }}
			{{- if $changes }}
				<li id="toc-history"><a href="#history">History</a></li>
			{{- end }}
			{{- if $relatedMembers }}
				<li id="toc-references"><a href="#related-members">Related members</a></li>
			{{- end }}
		</ol>
	</section>
{{- partial "singleton/nav-panel-end.html" . }}

<article id="content">
	<header><h1>{{partial "entity/icon.html" (dict "type" "enum")}}{{$enumName}}<aside>{{partial "entity/link.html" (dict "type" "enum" "primary" $enumName "hub" true)}}</aside></h1></header>

	{{- if $enumDump.Tags }}
		<section id="summary">
			<header><h2>Summary</h2></header>
			{{- partial "status/list.html" (dict "type" "enum" "primary" $enumName) }}
			<p class="tags">Tags: [{{delimit $enumDump.Tags ", "}}]</p>
		</section>
	{{- end }}

	<section id="members-index">
		<header><h2>Items {{partial "component/element-count.html" (len $items)}}</h2></header>
		{{- template "item-index" (dict "enum" $enumName "items" $items) }}
	</section>

	{{- if $removedItems }}
		<section id="removed-members-index" class="set removed">
			<header><h2>Removed items {{partial "component/element-count.html" (len $removedItems)}}</h2></header>
			{{- template "item-index" (dict "enum" $enumName "items" $removedItems) }}
		</section>
	{{- end }}

	{{- if $changes }}
		<section id="history" class="filter-container history-member-filter">
			<header>
				<h2>History {{partial "component/element-count.html" (len $changes)}}
					<aside class="filter-controls">
						<label>
							<input class="filter-input" type="checkbox">
							<span>Hide item changes</span>
						</label>
					</aside>
				</h2>
			</header>
			{{- partial "history/change-list.html" (dict "changes" $changes "truncated" true "hascontext" true) }}
		</section>
	{{- end }}

	{{- if $relatedMembers }}
		<section id="related-members">
			<header><h2>Related members {{partial "component/element-count.html" (len $relatedMembers)}}</h2></header>
			<ul class="truncated-list entity-list">
				{{- range $relatedMembers }}
					{{- $type := "class" }}
					{{- if .Member }}
						{{- $type = "member" }}
					{{- end }}
					<li class="set {{partial `entity/status-class.html` (dict `type` $type `primary` .Class `secondary` .Member)}}">
						<span>
							{{- partial "entity/link.html" (dict "type" $type "primary" .Class "secondary" .Member) }}
							{{- if eq .Kind "Parameter" }} (
								{{- index site.Data.Dump.Classes .Class "Members" .Member "Parameters" (int .Index) "Name" }})
							{{- end -}}
						</span>
					</li>
				{{- end }}
			</ul>
		</section>
	{{- end }}
</article>
{{- end }}