{{- define "main" }}
{{- $typeName := .Title }}
{{- $typeIndex := index site.Data.Index.Type $typeName }}
{{- $removed := $typeIndex.Removed }}

{{- $relatedMembers := slice }}
{{- range $typeIndex.Related}}
	{{- if eq .Removed $removed }}
		{{- $relatedMembers = $relatedMembers | append . }}
	{{- end }}
{{- end }}

<article id="content">
	<header><h1>{{$typeName}}<aside>{{partial "link/entity.html" (slice "type" $typeName "" "hub")}}</aside></h1></header>

	{{- if $relatedMembers }}
		<section id="related-members">
			<header><h2>Related members {{partial "element-count.html" (len $relatedMembers)}}</h2></header>
			<ul class="element-list">
				{{- range $relatedMembers }}
					{{- $type := "class" }}
					{{- if .Member }}
						{{- $type = "member" }}
					{{- end }}
					<li>
						<span>
							{{- partial "link/entity.html" (slice $type .Class .Member) }}
							{{- if eq .Kind "Parameter" }} (
								{{- index site.Data.Dump.Classes .Class "Members" .Member "Parameters" (int .Index) "Name" }})
							{{- end -}}
						</span>
					</li>
				{{- end }}
			</ul>
		</section>
	{{- end }}
</article>
{{- end }}