{{/* Render member parameters as function type definition.

[]Parameter

*/}}
{{- $n := sub (len .) 1 -}}
<span class="parameters open">(</span>
{{- range $i, $param := . -}}
	<span class="parameters parameter">
		{{- $param.Name -}}: {{partial "member/type.html" (dict "type" $param.Type "simple" true) -}}
		{{- if .Optional }} = {{partial "member/default.html" (dict "type" $param.Type "value" $param.Default "hascontext" true) -}}{{- end -}}
		{{- if lt $i $n -}}
			<span class="parameters sep">, </span>
		{{- end -}}
	</span>
{{- end -}}
<span class="parameters close">)</span>