{{/* Render member parameters as a table.

[]Parameter

*/}}
<table class="index-card params">
	<thead>
		<tr>
			<th class="col-member">Name</th>
			<th class="col-type">Type</th>
			<th class="col-default">Default</th>
		</tr>
	</thead>
	<tbody>
		{{- range . }}
			<tr class="row-{{.Name}}">
				<td class="col-member">{{.Name}}</td>
				<td class="col-type">{{partial "member/type.html" (dict "type" .Type "simple" true)}}</td>
				<td class="col-default">
					{{- if .Optional -}}
						{{- partial "member/default.html" (dict "type" .Type "value" .Default "hascontext" true) -}}
					{{- else -}}
						<span class="api-none"></span>
					{{- end -}}
				</td>
			</tr>
		{{- else }}
			<tr>
				<td colspan="3">No parameters.</td>
			</tr>
		{{- end }}
	</tbody>
</table>