{{/* Render member parameters as a table.

[]Parameter

*/}}
{{- $hasDefaults := false }}
{{- range . }}
	{{- if .Optional }}
		{{- $hasDefaults = true }}
		{{- break }}
	{{- end }}
{{- end }}
<table class="index-card params">
	<thead>
		<tr>
			<th class="col-member">Name</th>
			<th class="col-type">Type</th>
			{{- if $hasDefaults }}
				<th class="col-default">Default</th>
			{{- end }}
		</tr>
	</thead>
	<tbody>
		{{- range . }}
			<tr class="row-{{.Name}}">
				<td class="col-member">{{.Name}}</td>
				<td class="col-type">{{partial "member/type.html" (dict "type" .Type "simple" true)}}</td>
				{{- if $hasDefaults }}
					<td class="col-default">
						{{- if .Optional -}}
							{{- partial "member/default.html" (dict "type" .Type "value" .Default "hascontext" true) -}}
						{{- else -}}
							<span class="api-none"></span>
						{{- end -}}
					</td>
				{{- end -}}
			</tr>
		{{- else }}
			<tr>
				<td colspan="3">No parameters.</td>
			</tr>
		{{- end }}
	</tbody>
</table>