{{/* Render member return types as function type definition.

[]Type

*/}}
{{- $n := sub (len .) 1 -}}
{{- if eq $n 0 -}}
	<span class="returns return">{{partial "member/type.html" (dict "type" (index . 0) "simple" true)}}</span>
{{- else -}}
	<span class="returns open">(</span>
	{{- range $i, $type := . -}}
		<span class="returns return">{{partial "member/type.html" (dict "type" $type "simple" true)}}</span>
		{{- if lt $i $n -}}
			<span class="returns sep">, </span>
		{{- end -}}
	{{- end -}}
	<span class="returns close">)</span>
{{- end -}}