// Decorate API value indicators.

.api-none,
.api-string-empty,
.api-default-not-creatable,
.api-default-no-string-value,
.api-default-skipped-class,
.api-default-write-only {
	&::before {
		opacity: 0.6;
	}
}

.api-none::before { content: "none" }
.api-default-not-creatable::before { content: "(not creatable)" }
.api-default-no-string-value::before { content: "(no value)" }
.api-default-skipped-class::before { content: "(skipped)" }
.api-default-write-only::before { content: "(write only)" }
.api-string {
	&::before, &::after {
		content: '"';
		opacity: 0.6,
	}
}
