// List of individual changes within an update.
.change-list {
	li[data-field="Tags"] {
		.diff-values {
			display: table;
			padding-left: var(--indent);
			> * {
				display: table-row;
				> * {
					display: table-cell;
				}
			}
			.col-label {
				text-align: right;
				padding-right: 1ch;
			}
		}
	}

	li[data-field="Parameters"] {
		.diff-values {
			display: flex;
			flex-flow: wrap row;
			padding-left: var(--indent);
			column-gap: var(--indent);
			> *,
			> * > *,
			.col-value {
				display: inline;
			}
			> * {
				border-left: 1px dotted var(--theme-guideline);
				padding-left: 1ch;
			}
			.parameters.parameter {
				display: block;
				hyphens: auto;
			}
		}
	}
}

// Abbreviated list.
#history .change-list {
	list-style: none;
	padding-left: 0;
}
