.no-desc {
	&::before {
		opacity: 0.6;
		content: "No description."
	}
}

.docs {
	overflow-wrap: normal;

	table:not(._lntable) {
		th {
			background-color: var(--theme-object-header);
		}
		td {
			background-color: var(--theme-object);
		}
		:is(th,td) {
			padding: 0 0.5ch;
			vertical-align: top;
		}
	}

	blockquote {
		> :first-child::before {
			content: unset;
		}
		> :last-child::after {
			content: unset;
		}
	}

	div._chroma {
		padding: var(--halfbase);
		margin: var(--baseline) 0;
		overflow-x: auto;
		max-height: 38.2vh;
		@include scrolling;

		pre {
			margin: 0;
		}
	}

	img {
		max-width: 100%;
	}
}
