// Small tag indicating a specific update.
.history-tag {
	padding: 0 0.5ch;
	border-radius: 0.125em;
	font-family: var(--monospace);
	line-height: 1;
	&.added {
		background-color: var(--theme-history-add);
		color: var(--theme-history-add-text);
		&::before {
			content: "+";
		}
	}
	&.changed {
		background-color: var(--theme-history-change);
		color: var(--theme-history-change-text);
		&::before {
			content: "Δ";
		}
	}
	&.removed {
		background-color: var(--theme-history-remove);
		color: var(--theme-history-remove-text);
		&::before {
			content: "−";
		}
	}
}