// Table with an index card appearance.
.index-card {
	--card-padding: 1ch;
	--cell-spacing: 1ch;
	font-family: var(--monospace);
	border-collapse: separate;
	border-spacing: 0;
	background-color: var(--theme-object);
	border: 1px solid var(--theme-object-border);
	padding: var(--card-padding);
	border-radius: var(--card-padding);
	width: 100%;

	tr:not(:first-of-type) > td {
		border-top: 1px solid var(--theme-border);
	}
	th {
		background-color: var(--theme-object-header);
	}
	td, th {
		text-align: left;
		vertical-align: top;
		padding: 0.25em 0;
		&:first-child {
			padding-left: var(--cell-spacing);
		}
		padding-right: var(--cell-spacing);
	}
}

// Displaying members.
.index-card.members {
	.col-history { text-align: left}
	.col-icon    { text-align: right}
	.col-member  { text-align: left}

	.col-history { width: 0 }
	.col-icon    { width: 0 }

	.member-text {
		display: flex;
		flex-flow: wrap row;
		white-space: pre-wrap;
	}

	@media #{$small} {
		.col-history { display: none }

		.member-text {
			> .name {
				overflow-wrap: anywhere;
			}
			> :not(.name) {
				display: none;
			}
		}
	}
}

// Displaying member parameters.
.index-card.params {
	.col-name    { text-align: left }
	.col-type    { text-align: left }
	.col-default { text-align: left }
	.col-return  { text-align: left }

	.col-name    { width: 0 }
	.col-type    { width: 0 }
	.col-default { width: 0 }
	.col-return  { width: 0 }
	tr > :last-child { width: auto }

	@media #{$small} {
		display: grid;
		justify-content: stretch;
		grid-template-columns: 1fr;
		overflow-wrap: anywhere;
		> * {
			display: block;
			> * {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-auto-columns: 1fr;
			}
		}
		.col-name   { width: auto }
		.col-return { width: auto }
		.col-type   { width: auto }

		th.col-name, .col-return { grid-area: 2 / span 2 }

		th.col-default { display: none }
		td.col-default {
			&::before {
				content: "Default: ";
				font-weight: bold;
			}
			width: auto;
			grid-area: 2 / span 2;
			padding: 0 var(--cell-spacing) var(--cell-spacing);
			border-top: 0;
		}
	}
}

// Displaying enum items.
.index-card.enumitems {
	width: auto;
	.col-history      { text-align: left }
	.col-icon         { text-align: right }
	.col-name         { text-align: left }
	.col-value        { text-align: right }
	.col-legacy-names { text-align: left }
	.col-tags         { text-align: left }

	.col-history { width: 0 }
	.col-icon    { width: 0 }
	.col-name    { width: 0 }
	.col-value   { width: 0 }

	@media #{$small} {
		width: 100%;
		overflow-wrap: anywhere;
		.col-history { display: none }
		.col-name    { width: auto }
		.col-value   { width: auto }
	}
}
