// Table with an index card appearance.
.index-card {
	--card-padding: 1ch;
	--cell-spacing: 1ch;
	font-family: var(--monospace);
	border-collapse: separate;
	border-spacing: 0;
	background-color: var(--theme-TableItem);
	border: 1px solid var(--theme-border);
	padding: var(--card-padding);
	border-radius: var(--card-padding);
	width: 100%;

	tr:not(:first-of-type) > td {
		border-top: 1px solid var(--theme-border);
	}
	th {
		background-color: var(--theme-border);
	}
	td, th {
		text-align: left;
		vertical-align: top;
		padding: 0.25em 0;
		&:first-child {
			padding-left: var(--cell-spacing);
		}
		padding-right: var(--cell-spacing);
	}
}

// Displaying members.
.index-card.members {
	.col-history {
		width: 0;
		text-align: left;
	}
	.col-icon {
		width: 0;
		text-align: right;
	}
	.col-member {
		text-align: left;
	}
	.member-text {
		display: flex;
		flex-flow: wrap row;
		white-space: pre-wrap;
	}
}

// Displaying member parameters.
.index-card.params {
	.col-member {
		width: 0;
		text-align: left;
	}
	.col-type {
		width: 0;
		text-align: left;
	}
	.col-default {
		text-align: left;
	}
}

// Displaying enum items.
.index-card.enumitems {
	width: auto;
	.col-history {
		width: 0;
		text-align: left;
	}
	.col-icon {
		width: 0;
		text-align: right;
	}
	.col-name {
		width: 0;
		text-align: left;
	}
	.col-value {
		width: 0;
		text-align: right;
	}
	.col-legacy-names {
		text-align: left;
	}
	.col-tags {
		text-align: left;
	}
}