// Margined elements.
p, ul, ol, dl, table {
	margin: var(--baseline) 0;
}
td p {
	margin: 0;
}
figure {
	margin: var(--halfbase);
}
ul, ol, dd {
	padding-left: var(--indent);
}
ul ul, ul ol, ol ul, ol ol, td ul, td ol {
	margin-top: 0;
	margin-bottom: 0;
}
dd + dt {
	margin-top: var(--baseline);
}
dd {
	margin: 0;
}
dd {
	> :first-child {
		margin-top: 0;
	}
	> :last-child {
		margin-bottom: 0;
	}
}