// Inline list of block-shaped navigation links.
nav.block {
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			a {
				@include runner-link;
				@include runner-padding;
			}
		}
	}
}