{{- /* Renders an icon for the given entity.

type: string // The type of entity (hub|class|member|enum|enumitem|type)
primary: string // The primary identifier.
secondary: string // The secondary identifier.

*/}}
{{- $type := .type | lower }}
{{- $refs := partial "entity/icon-ref.html" . }}
{{- if $refs }}
	<span class="picture"{{if $refs.title}} title="{{$refs.title}}"{{end}}{{if $refs.type}} data-type="{{$refs.type}}"{{end}}><span class="icon" style="--light:url('{{$refs.light}}');--dark:url('{{$refs.dark}}')"></span></span>
{{- else -}}
	<span class="picture"{{if $refs.title}} title="{{$refs.title}}"{{end}}{{if $refs.type}} data-type="{{$refs.type}}"{{end}}><span class="icon"></span></span>
{{- end }}