{{/* Returns the icon location for the given inputs.

kind: string // Kind of icon (hub|entity|typemember)
// Type of entity
// (kind=entity) (class|property|function|event|callback|enum|enumitem|type)
// (kind=typemember) (constant|constructor|function|property|method|operator)
type: string
name: string // Name of class (type=class)
category: string // Category of type (type=type)
protected: bool // Whether member is protected

*/}}
{{$kind := .kind | lower}}
{{$type := .type | lower}}

{{$light := false}}
{{$dark := false}}

{{if eq $kind "hub"}}
	{{$light = resources.Get "images/hub.svg"}}
	{{$dark = resources.Get "images/hub.svg"}}
{{else if eq $kind "entity"}}
	{{if eq $type "class"}}
		{{if not $light}}{{$light = partial "func/class-icon.html" (dict "path" "icons/light/%s.png" "class" .name)}}{{end}}
		{{if not $light}}{{$light = resources.Get "icons/light/Placeholder.png"}}{{end}}
		{{if not $dark}}{{$dark = partial "func/class-icon.html" (dict "path" "icons/dark/%s.png" "class" .name)}}{{end}}
		{{if not $dark}}{{$dark = resources.Get "icons/dark/Placeholder.png"}}{{end}}
	{{else if eq $type "property"}}
		{{$light = resources.Get "icons/light/ACProperty.png"}}
		{{$dark = resources.Get "icons/dark/ACProperty.png"}}
	{{else if eq $type "function"}}
		{{$light = resources.Get "icons/light/ACFunction.png"}}
		{{$dark = resources.Get "icons/dark/ACFunction.png"}}
	{{else if eq $type "event"}}
		{{/* Event icon is purple for some reason. Shift it to yellow. */}}
		{{$light = (resources.Get "icons/light/ACEvent.png").Filter (images.Hue 130)}}
		{{$dark = (resources.Get "icons/dark/ACEvent.png").Filter (images.Hue 115)}}
	{{else if eq $type "callback"}}
		{{$light = resources.Get "icons/light/ACFunction.png"}}
		{{$dark = resources.Get "icons/dark/ACFunction.png"}}
	{{else if eq $type "enum"}}
		{{$light = (resources.Get "icons/light/Enum.png").Filter (images.Colorize 35 100 100) (images.Brightness 10)}}
		{{$dark = (resources.Get "icons/light/Enum.png").Filter (images.Colorize 35 100 100) (images.Brightness 20)}}
	{{else if eq $type "enumitem"}}
		{{$light = (resources.Get "icons/light/EnumMember.png").Filter (images.Colorize 35 100 100) (images.Brightness 10)}}
		{{$dark = (resources.Get "icons/light/EnumMember.png").Filter (images.Colorize 35 100 100) (images.Brightness 20)}}
	{{else if eq $type "type"}}
		{{if eq .category "DataType"}}
			{{$light = resources.Get "icons/light/ACCodeSnippet.png"}}
			{{$dark = resources.Get "icons/dark/ACCodeSnippet.png"}}
		{{else if eq .category "Group"}}
			{{$light = resources.Get "icons/light/Group.png"}}
			{{$dark = resources.Get "icons/dark/Group.png"}}
		{{else if eq .category "Primitive"}}
			{{$light = resources.Get "icons/light/Value.png"}}
			{{$dark = resources.Get "icons/dark/Value.png"}}
		{{else}}
			{{$light = resources.Get "icons/light/Value.png"}}
			{{$dark = resources.Get "icons/dark/Value.png"}}
		{{end}}
	{{end}}
	{{if not $light}}{{$light = resources.Get (print "icons/light/Placeholder.png")}}{{end}}
	{{if not $dark}}{{$dark = resources.Get (print "icons/dark/Placeholder.png")}}{{end}}
{{else if eq $kind "typemember"}}
	{{if eq $type "constant"}}
		{{$light = resources.Get "icons/light/Constant.png"}}
		{{$dark = resources.Get "icons/dark/Constant.png"}}
	{{else if eq $type "constructor"}}
		{{$light = resources.Get "icons/light/Constructor.png"}}
		{{$dark = resources.Get "icons/dark/Constructor.png"}}
	{{else if eq $type "function"}}
		{{$light = resources.Get "icons/light/Function.png"}}
		{{$dark = resources.Get "icons/dark/Function.png"}}
	{{else if eq $type "property"}}
		{{$light = resources.Get "icons/light/ACProperty.png"}}
		{{$dark = resources.Get "icons/dark/ACProperty.png"}}
	{{else if eq $type "method"}}
		{{$light = resources.Get "icons/light/ACFunction.png"}}
		{{$dark = resources.Get "icons/dark/ACFunction.png"}}
	{{else if eq $type "operator"}}
		{{$light = resources.Get "icons/light/Operator.png"}}
		{{$dark = resources.Get "icons/dark/Operator.png"}}
	{{end}}
	{{if not $light}}{{$light = resources.Get (print "icons/light/Placeholder.png")}}{{end}}
	{{if not $dark}}{{$dark = resources.Get (print "icons/dark/Placeholder.png")}}{{end}}
{{end}}

{{if $light}}
	{{if .protected}}
		{{$overlay := (resources.Get "icons/light/Logpoint.png").Resize "24x"}}
		{{$light = $light.Filter (images.Overlay $overlay 0 24)}}
	{{end}}
	{{$light = $light.RelPermalink}}
{{end}}
{{if $dark}}
	{{if .protected}}
		{{$overlay := (resources.Get "icons/dark/Logpoint.png").Resize "24x"}}
		{{$dark = $dark.Filter (images.Overlay $overlay 0 24)}}
	{{end}}
	{{$dark = $dark.RelPermalink}}
{{end}}

{{return (dict "Light" $light "Dark" $dark)}}
