{{- define "main" }}
{{- partial "singleton/nav-panel.html" . }}
	<nav id="toc">
		{{- partial "updates/nav.html" . }}
	</nav>
{{- partial "singleton/nav-panel-end.html" . }}
<article id="content">
	<header>
		{{- $rss := ((site.GetPage "updates").OutputFormats.Get "rss")}}
		<h2>{{partial "component/heading-icon.html" (dict "icon" "feed" "title" "RSS feed" "href" $rss.RelPermalink)}}Recent API updates
			<aside class="expand-all-changes js">
				<label>
					<input id="expand-all" type="checkbox"/>
					Show all changes.
				</label>
			</aside>
		</h2>
	</header>
	<p class="expand-all-changes js">Click a date to expand or collapse changes.</p>
	{{- partial "updates/list.html" (dict "recent" true "months" 3) }}
</article>
{{- end }}