{{/* Renders a status box.

level: string // The severity level (low|medium|high).
header: string // Header text.
text: string // body text.
preferred: { // If specified
	@link/entity.html // Arguments to produce an entity link.
	text: string // Text to render after the link.
}?

*/}}
<div class="status-box{{if .level}} status-{{.level}}{{end}}">{{if .text}}<span class="status-header">{{.header}}</span> {{.text}}{{if .preferred}} {{partial "entity/link.html" .preferred}}{{.preferred.text}}{{end}}{{else}}{{.header}}{{end}}</div>
