{{/* Renders a list of status boxes for the given entity.

type: string // Type of entity (class|member|enum|enumitem|type).
primary: string // Primary entity index.
secondary: string // Secondary entity index.

*/}}
{{- $type := .type | lower }}
{{- $data := partial "func/dump-index.html" . }}
{{- $dump := $data.Dump }}
{{- if $dump.Tags }}
	<div class="status-list">
		{{- $kind := or $dump.MemberType $type | lower }}
		{{- if eq $type "enumitem" }}
			{{- $kind = "item" }}
		{{- end }}
		{{- if in $dump.Tags "Deprecated" }}
			{{- $text := "It exists only for backward compatibility, and should not be used for new work." }}
			{{- $preferred := false }}
			{{- if $dump.PreferredDescriptor.Name }}
				{{- if eq $type "class" "enum" }}
					{{- if ne $dump.PreferredDescriptor.Name .primary }}
						{{- $preferred = (dict "type" $type "primary" $dump.PreferredDescriptor.Name "text" " should be used instead.") }}
					{{- end }}
				{{- else }}
					{{- if ne $dump.PreferredDescriptor.Name .secondary }}
						{{- $preferred = (dict "type" $type "primary" .primary "secondary" $dump.PreferredDescriptor.Name "simple" true "text" " should be used instead.") }}
					{{- end }}
				{{- end }}
			{{- end }}
			{{- partial "status/box.html" (dict "level" "high" "header" (printf "This %s is deprecated." $kind) "text" $text "preferred" $preferred) }}
		{{- end }}
		{{- if in $dump.Tags "noyield" }}
			{{- partial "status/box.html" (dict "level" "medium" "header" (printf "This %s cannot yield." $kind) "text" "Attempting to yield within it will result in an error.") }}
		{{- end }}
		{{- if in $dump.Tags "CanYield" }}
			{{- partial "status/box.html" (dict "level" "medium" "header" (printf "This %s can yield." $kind) "text" "It may or may not block the calling thread until completion.") }}
		{{- end }}
		{{- if in $dump.Tags "Yields" }}
			{{- partial "status/box.html" (dict "level" "medium" "header" (printf "This %s yields." $kind) "text" "It will block the calling thread until completion.") }}
		{{- end }}
		{{- if in $dump.Tags "NotScriptable" }}
			{{- partial "status/box.html" (dict "level" "medium" "header" (printf "This %s is not scriptable." $kind) "text" "It cannot be accessed by script code.") }}
		{{- end }}
		{{- if in $dump.Tags "NotReplicated" }}
			{{- partial "status/box.html" (dict "level" "medium" "header" (printf "This %s is not replicated." $kind) "text" "Its interface does not cross the network boundary.") }}
		{{- end }}
		{{- if in $dump.Tags "NotCreatable" }}
			{{- partial "status/box.html" (dict "level" "low" "header" (printf "This %s is not creatable." $kind) "text" "Instances of this class cannot be created with Instance.new.") }}
		{{- end }}
		{{- if in $dump.Tags "Service" }}
			{{- partial "status/box.html" (dict "level" "low" "header" (printf "This %s is a service." $kind) "text" "It is a singleton that may be acquired with GetService.") }}
		{{- end }}
		{{- if in $dump.Tags "Settings" }}
			{{- partial "status/box.html" (dict "level" "low" "header" (printf "This %s is a settings container." $kind) "text" "It contains settings that affect the behavior of the peer.") }}
		{{- end }}
		{{- if in $dump.Tags "ReadOnly" }}
			{{- partial "status/box.html" (dict "level" "low" "header" (printf "This %s is read-only." $kind) "text" "Its value can be read, but it cannot be modified.") }}
		{{- end }}
		{{- if in $dump.Tags "NotBrowsable" }}
			{{- partial "status/box.html" (dict "level" "low" "header" (printf "This %s is not browsable." $kind) "text" "It is not visible in Studio's object browser.") }}
		{{- end }}
		{{- if in $dump.Tags "Hidden" }}
			{{- partial "status/box.html" (dict "level" "low" "header" (printf "This %s is hidden." $kind) "text" "It is not meant to be used, and may have unresolved issues.") }}
		{{- end }}
		{{- if in $dump.Tags "PlayerReplicated" }}
			{{- partial "status/box.html" (dict "level" "low" "header" (printf "This %s is player-replicated." $kind) "text" "Its data is replicated between the server and only a single client.") }}
		{{- end }}
		{{- if in $dump.Tags "CustomLuaState" }}
			{{- partial "status/box.html" (dict "level" "low" "header" (printf "This %s has a custom internal state." $kind) "text" "It may behave in a non-standard way.") }}
		{{- end }}
	</div>
{{- end }}