{{/* Renders a list of status boxes for the given entity.

type: string // Type of entity (class|member|enum|enumitem|type).
primary: string // Primary entity index.
secondary: string // Secondary entity index.

*/}}
{{- $type := .type | lower }}
{{- $data := partial "func/dump-index.html" . }}
{{- $dump := $data.Dump }}
{{- if $dump.Tags }}
	<div class="status-list">
		{{- if in $dump.Tags "NotCreatable" }}
			{{- partial "status/box.html" (dict "level" "low" "header" "This class is not creatable." "text" "An object of this class cannot be created with Instance.new.") }}
		{{- end }}
		{{- if in $dump.Tags "PlayerReplicated" }}
			{{- partial "status/box.html" (dict "level" "low" "header" "This class is player-replicated." "text" "Its data is replicated between the server and only a single client.") }}
		{{- end }}
		{{- if in $dump.Tags "Service" }}
			{{- partial "status/box.html" (dict "level" "low" "header" "This class is a service." "text" "It is a singleton that may be acquired with GetService.") }}
		{{- end }}
		{{- if in $dump.Tags "Settings" }}
			{{- partial "status/box.html" (dict "level" "low" "header" "This class is a settings container." "text" "It contains settings that affect the behavior of the peer.") }}
		{{- end }}
		{{- if in $dump.Tags "ReadOnly" }}
			{{- partial "status/box.html" (dict "level" "low" "header" "This property is read-only." "text" "Its value can be read, but it cannot be modified.") }}
		{{- end }}
		{{- if in $dump.Tags "noyield" }}
			{{- partial "status/box.html" (dict "level" "medium" "header" "This callback cannot yield." "text" "Attempting to yield within this callback will result in an error.") }}
		{{- end }}
		{{- if in $dump.Tags "CanYield" }}
			{{- partial "status/box.html" (dict "level" "medium" "header" "This function can yield." "text" "It may or may not block the calling thread until completion.") }}
		{{- end }}
		{{- if in $dump.Tags "CustomLuaState" }}
			{{- partial "status/box.html" (dict "level" "low" "header" "This function has a custom lua state." "text" "It may behave in a non-standard way.") }}
		{{- end }}
		{{- if in $dump.Tags "Yields" }}
			{{- partial "status/box.html" (dict "level" "medium" "header" "This function yields." "text" "It will block the calling thread until completion.") }}
		{{- end }}
		{{- if in $dump.Tags "Hidden" }}
			{{- partial "status/box.html" (dict "level" "low" "header" "This member is hidden." "text" "It is not meant to be used, and may have unresolved issues.") }}
		{{- end }}
		{{- if in $dump.Tags "NotScriptable" }}
			{{- partial "status/box.html" (dict "level" "medium" "header" "This member is not scriptable." "text" "It cannot be accessed by Lua code.") }}
		{{- end }}
		{{- if in $dump.Tags "Deprecated" }}
			{{- $text := "It exists only for backward compatibility, and should not be used for new work." }}
			{{- $preferred := false }}
			{{- if $dump.PreferredDescriptor.Name }}
				{{- if eq $type "class" "enum" }}
					{{- if ne $dump.PreferredDescriptor.Name .primary }}
						{{- $preferred = (dict "type" $type "primary" $dump.PreferredDescriptor.Name "text" " should be used instead.") }}
					{{- end }}
				{{- else }}
					{{- if ne $dump.PreferredDescriptor.Name .secondary }}
						{{- $preferred = (dict "type" $type "primary" .primary "secondary" $dump.PreferredDescriptor.Name "simple" true "text" " should be used instead.") }}
					{{- end }}
				{{- end }}
			{{- end }}
			{{- partial "status/box.html" (dict "level" "high" "header" "This item is deprecated." "text" $text "preferred" $preferred) }}
		{{- end }}
		{{- if in $dump.Tags "NotBrowsable" }}
			{{- partial "status/box.html" (dict "level" "low" "header" "This item is not browsable." "text" "It is not visible in Studio's object browser.") }}
		{{- end }}
		{{- if in $dump.Tags "NotReplicated" }}
			{{- partial "status/box.html" (dict "level" "medium" "header" "This item is not replicated." "text" "Its interface does not cross the network boundary.") }}
		{{- end }}
	</div>
{{- end }}